{% sw_extends '@Storefront/storefront/page/search/index.html.twig' %}

{% block base_content %}
    {% block page_search %}

        <div class="cms-page search-page">
            {% block page_search_headline %}
                <div class="banner banner-category">
                    <div class="background"></div>
                    <div class="grid-container">
                        <div class="content">

                            <p>{% block page_search_headline_text %}
                                    {{ "search.headline"|trans({
                                        '%count%': page.listing.total,
                                        '%searchTerm%': page.searchTerm,
                                    }) }}
                                {% endblock %}</p>
                        </div>
                    </div>
                </div>
            {% endblock %}
            <section class="section-products-listing">
                <div class="grid-container">
                    <div class="container-main">
                        <div class="cms-page">
            {% sw_include '@Storefront/storefront/page/search/search-pagelet.html.twig' with { page: page } %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endblock %}
{% endblock %}
