{% sw_extends '@JoinzTheme/storefront/base.html.twig' %}

{% block base_offcanvas_navigation %}
{% endblock %}

{% block base_scroll_up %}
{% endblock %}

{% block base_cookie_permission %}
{% endblock %}

{% block base_pseudo_modal %}
{% endblock %}

{% block base_content %}



    <main>
        <div class="banner banner-secondary">
            <div class="background"></div>
            <div class="grid-container">
                <div class="content">
                    <p class="flex-container align-middle align-center">
                        Wij zijn <img src="/bundles/joinztheme/img/svg/logo-joinz-blue.svg" alt="Joinz logo">
                    </p>

                    <h3>Met onze korte lijntjes krijg jij de snelste service en de beste prijs </h3>

                    <img src="/bundles/joinztheme/img/svg/decorative-triangles.svg" alt="">
                </div>
            </div>
        </div>    <section class="section-info">
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-5">
                        <div class="section-image">
                            <div class="background"></div>
                            <img src="/bundles/joinztheme/img/joinz-gifts.png" alt="">
                            <p>Gifts en Premium Fare Hong Kong (Bram links, Tom rechts)</p>
                        </div>
                    </div>
                    <div class="cell medium-7">
                        <div class="section-content">
                            <h3>Bram en tom hebben passie voor relatiegeschenken En ondernemen</h3>

                            <p>Iedereen houdt ervan om kadootjes te krijgen of  weg te geven. De oprichters van Joinz houden ervan om kado’s te maken. Het liefst gepersonliseerd; “Dat is wat geven zo leuk maakt”.</p>

                            <p>“Joinz bedrukt al 20 jaar relatiegeschenken en promotieartikelen. Maar geen jaar is hetzelfde, er is nooit stilstand. Of dat nu is op het gebied van bedrukking of ons aanbod, we zijn altijd bezig met innovatie”</p>

                            <p class="center">- Bram van Oordt, Mede-oprichter Joinz</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-timeline">
            <div class="grid-container">
                <img src="/bundles/joinztheme/img/svg/timeline-arrow.svg" alt="">

                <div class="grid-x grid-margin-x">
                    <div class="cell medium-2">
                        <div class="timeline-period">
                            <div class="timeline-block background-first">
                                <p>Crystal Impressions</p>
                                <span>2001</span>
                            </div>

                            <p>Joinz verkoopt 3D lasergravures in glas aan bedrijven en retailers</p>
                        </div>
                    </div>
                    <div class="cell medium-2">
                        <div class="timeline-period">
                            <div class="timeline-block background-second">
                                <p>Nieuwe Markt</p>
                                <span>2009</span>
                            </div>

                            <p>Joinz gaat banden aan met een fabriek in 3D modellen. En start de productie van 3D relatiegeschenken</p>
                        </div>
                    </div>
                    <div class="cell medium-2">
                        <div class="timeline-period">
                            <div class="timeline-block background-third">
                                <p>Groei</p>
                                <span>2013</span>
                            </div>

                            <p>De omzet verdubbelt en de ambitie ook. Samenwerkingen met fabrieken in Polen en China</p>
                        </div>
                    </div>
                    <div class="cell medium-2">
                        <div class="timeline-period">
                            <div class="timeline-block background-fourth">
                                <p>verhuizing</p>
                                <span>2017</span>
                            </div>

                            <p>Joinz verhuist naar een gloednieuw pand in Nijkerk. Nieuwe mogelijkheden voor groei!</p>
                        </div>
                    </div>
                    <div class="cell medium-2">
                        <div class="timeline-period">
                            <div class="timeline-block background-fifth">
                                <p>Productaanbod</p>
                                <span>2022</span>
                            </div>

                            <p>Ons aanbod blijft groeien ondanks de lockdown</p>
                        </div>
                    </div>
                    <div class="cell medium-2">
                        <div class="timeline-period">
                            <div class="timeline-block background-sixth">
                                <p>Toekomst</p>
                                <span>2024</span>
                            </div>

                            <p>Binnen 2 jaar de omzet en aantal werknemers verdubbelen</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>    <section class="section-testimonials">
            <div class="grid-container">
                <div class="section-inner">
                    <div class="background"></div>

                    <div class="section-content">
                        <h3>99% beveelt ons aan</h3>

                        <p>
                            <span><b>Een keurig en vlot verlopen samenwerking!</b></span>
                            Wij kregen een tip van Joinz voor een relatiegeschenk dat echt bij ons bedrijf past en dus hebben wij snel om een offerte gevraagd. Het offerteproces en ook de bestelling daarna verliepen zeer soepel. Zelfs de levering was veel sneller dan gepland. En niet onbelangrijk: het geschenk is top!
                        </p>

                        <div class="section-bottom flex-container align-middle align-center">
                            <img src="/bundles/joinztheme/img/svg/kiyoh-testimonial-rating.svg" alt="">
                            Diana , Ridderkerk
                        </div>

                        <img class="logo-kiyoh" src="/bundles/joinztheme/img/svg/logo-kiyoh.svg" alt="">
                    </div>
                </div>
            </div>
        </section>    <section class="section-company-strengths">
            <div class="background" style="z-index: -1"></div>
            <div class="grid-container" style="z-index: 10">
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-6">
                        <div class="section-left">
                            <h3>3 Redenen Waarom bedrijven graag met ons samenwerken</h3>

                            <ul class="no-bullet">
                                <li class="flex-container">
                                <span>
                                    <i class="icon-piggy-bank"></i>
                                </span>
                                    <p><b>Je betaalt nooit te veel voor je relatiegeschenken</b> Wij kopen slim in zodat jij nooit teveel betaald voor je bedrukte mok of gegraveerde borrelplank. Het inkopen van producten op de juiste tijd is een van onze succesfactoren.</p>
                                </li>
                                <li class="flex-container">
                                <span>
                                    <i class="icon-drop"></i>
                                </span>
                                    <p><b>Pixel-perfecte bedrukking</b> Comfy hoodies met zeefdruk, USBs met tampondruk, of gewoon een digitale druk op je wijnetiket. Wij leven op inkt. Wij zorgen voor de beste druktechniek voor jouw budget & wensen.</p>
                                </li>
                                <li class="flex-container">
                                <span>
                                    <i class="icon-crown"></i>
                                </span>
                                    <p><b>Uitstekende service</b> Joinz is een betrouwbare leverancier die snel en op tijd levert. Je kunt gemakkelijk online bestellen of een offerte aanvragen. Vragen? Je krijgt direct antwoord en je zal zorgvuldig worden ingelicht over alle mogelijkheden.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cell medium-6">
                        <div class="section-right flex-container flex-dir-column align-right">
                            <img class="star" src="/bundles/joinztheme/img/svg/star.svg" alt="">

                            <div class="section-image">
                                <div class="background"></div>
                                <img src="/bundles/joinztheme/img/office-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    <section class="section-owners">
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-5">
                        <div class="section-left">
                            <div class="background"></div>
                            <img class="image-1" src="/bundles/joinztheme/img/owner-1.png" alt="">
                            <img class="image-2" src="/bundles/joinztheme/img/owner-2.png" alt="">
                            <img class="image-3" src="/bundles/joinztheme/img/owner-3.png" alt="">
                        </div>
                    </div>
                    <div class="cell medium-7">
                        <div class="section-right">
                            <h3>Joinz Relatiegeschenken in 3 woorden</h3>

                            <p>Joinz in 3 woorden: familie, bedrukken, handelsdrift</p>

                            <ul>
                                <li>Er is genoeg liefde binnen ons familiebedrijf om met jou te delen.</li>
                                <li>Wij bedrukken vol trots en passie relatiegeschenken en promotieartikelen.</li>
                                <li>Onze werknemers houden van ondernemen</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>    <section class="section-contacts">
            <div class="grid-container">
                <h3>Kom met ons in contact</h3>

                <p>We staan klaar om voor je aan de slag te gaan!</p>

                <div class="grid-x grid-margin-x">
                    <div class="cell medium-3">
                        <h6>Openingstijden klantenservice</h6>

                        <p>
                            Maandag tot Vrijdag <br>
                            Van 09:00 tot 17:00
                        </p>
                    </div>

                    <div class="cell medium-3">
                        <h6>Contactgegevens</h6>

                        <p>
                            <a href="tel:+31332464533">033 2464 533</a> <br>
                            <a href="mailto:info@joinz.nl">info@joinz.nl</a>
                        </p>
                    </div>

                    <div class="cell medium-3">
                        <h6>Bezoekadres</h6>

                        <p>
                            Henri Nouwenstraat 34 <br>
                            3863 HV, Nijkerk <br>
                            Nederland
                        </p>
                    </div>

                    <div class="cell medium-3">
                        <h6>Offerte of ontwerp bedrukking?</h6>

                        <p>
                            Neem vrijblijvend contact met ons op. Een ontwerp ontvang je vaak al binnen 1 uur!
                        </p>
                    </div>
                </div>
            </div>
        </section></main>

{% endblock %}
