{% sw_extends '@JoinzTheme/storefront/base.html.twig' %}
{% block base_offcanvas_navigation %}
{% endblock %}

{% block base_scroll_up %}
{% endblock %}

{% block base_cookie_permission %}
{% endblock %}

{% block base_pseudo_modal %}
{% endblock %}

{% block base_content %}
    <main>
        <div class="banner banner-small">
            <div class="background"></div>

            <div class="grid-container">



                <h1>Veel gestelde vragen</h1>
            </div>
        </div>    <div class="menu-small">
            <div class="grid-container">
                <nav>
                    <ul class="no-bullet flex-container align-justify">
                        <li class="flex-child-grow">
                            <a href="/joinz/upload-logo">Logo uploaden</a>
                        </li>
                        <li class="flex-child-grow">
                            <a href="/joinz/faq">Veel gestelde Vragen</a>
                        </li>
                        <li class="flex-child-grow">
                            <a href="/joinz/verzending">Verzendinformatie</a>
                        </li>
                        <li class="flex-child-grow">
                            <a href="/joinz/about-us/">Over ons</a>
                        </li>
                        <li class="flex-child-grow">
                            <a href="/joinz/order-process">Bestelproces</a>
                        </li>
                        <li class="flex-child-grow">
                            <a href="/joinz/contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>    <section class="section-faq">
            <div class="grid-container">
                <div class="grid-x">
                    <div class="cell medium-8">
                        <div class="accordion-small">
                            <div class="grid-container">
                                <div class="accordion-inner extended">
                                    <div class="accordion-top">
                                        <p>Verzending & Levertijd</p>
                                    </div>

                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Wat is de levertijd van bedrukte artikelen?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Je kan een indicatie van de levertijd vinden op de productpagina. De actuele levertijd kan afhangen van het seizoen en de voorraad. Voor drukkere periodes zoals kerst en oudjaar is de levertijd langer dan normaal. Voor verzendingen naar België is levertijd 1 dag langer. </p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Is het mogelijk om producten met spoed te laten bedrukken?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Ja, sommige artikelen kunnen we versnelt bedrukken en leveren. Neem in dit geval op met ons. Dan adviseren we je welk product binnen de gewenste deadline kan worden geleverd.</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Krijg ik een track & trace code?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Zeker weten! Zodra je producten zijn bedrukt, ontvang je een track & trace code met jouw bestelling. Daarop kan je precies zien wanneer jij je producten krijgt. Voor de wijnbestellingen gebruiken wij een koerier die zonder T&T werkt maar dit is een uitzondering.</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Welke verzendmaatschappij gebruiken jullie?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Jouw pakket/pallet wordt verzonden met DHL, UPS, PostNL of een koerier.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                <div class="accordion-small">
                            <div class="grid-container">
                                <div class="accordion-inner extended">
                                    <div class="accordion-top">
                                        <p>Digitaal ontwerp</p>
                                    </div>

                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Wat is een digitaal ontwerp?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Een digitaal ontwerp is een afbeelding van het product met bedrukking. Op dit digitale ontwerp kan je zien hoe jouw bedrukking wordt. Upload je logo tijdens het offerte aanvraagproces of stuur het later via de mail.</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Wanneer krijg ik een ontwerp?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Een ontwerp ontvang je gratis nadat je een offerte hebt aangevraagd of nadat je een bestelling hebt gedaan. Ons team gaat direct aan de slag, zodra we je jouw logo/ontwerp specificaties hebben ontvangen. Een ontwerp en offerte sturen we eigenlijk altijd binnen 4 uur tijdens werkdagen.</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Kan het ontwerp zo vaak aangepast worden als ik wil?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Zeker, we gaan net zolang door totdat je 100% tevreden bent.</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Kan ik ook zelf een ontwerp aanleveren?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Zeker weten! Neem contact met ons op en dan sturen wij je een template die je kunt aanpassen met je eigen software.</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Waar kan ik mijn logo en/of tekst aanleveren?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Je kunt je logo/drukbestand <a href="">hier</a> uploaden of je kan ons bereiken op info@joinz.nl</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Zijn er ontwerpkosten?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Nee, we maken gratis een ontwerp voor je op.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-small">
                            <div class="grid-container">
                                <div class="accordion-inner extended">
                                    <div class="accordion-top">
                                        <p>Offerte</p>
                                    </div>

                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Kan ik eerst een offerte krijgen?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Zeker, we maken deze graag voor je op. Op werkdagen ontvang je deze binnen 4 uur in je inbox. Heb je een deadline die al snel in zicht is? Neem dan even contact met ons op.</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Hoe kan ik akkoord geven op de offerte?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>De offerte ontvang je op de mail. Je kan je akkoord geven door deze via de e-mail te bevestigen. Zodra het akkoord is ontvangen op het ontwerp gaat de productie van start. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-small">
                            <div class="grid-container">
                                <div class="accordion-inner extended">
                                    <div class="accordion-top">
                                        <p>Tekst & logo aanleveren</p>
                                    </div>

                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Wat is een vectorbestand?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Dit is een afbeelding die niet wazig wordt als je inzoomt. Dit komt omdat het bestand geen pixels heeft. Dit zijn het type vectorbestanden dat we nodig hebben: EPS, AI, PDF of SVG</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Help, kunnen jullie mijn logo omzetten in een vectorbestand?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Zeker weten. Als je geen vector bestand hebt, kunnen we dit maken op basis van je logo. Hier zullen we geen kosten voor in rekening brengen.</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Hoeveel tekst past er op het product?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Dit verschilt per product. Neem contact met ons op en we zullen je adviseren.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-small">
                            <div class="grid-container">
                                <div class="accordion-inner extended">
                                    <div class="accordion-top">
                                        <p>Bestelling & betaling</p>
                                    </div>

                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Wat gebeurt er na mijn bestelling (van offerte tot productie)?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Na je offerteaanvraag of bestelling gaan onze ontwerpers aan de slag en ontvang je een digitaal ontwerp. Hierop kun je zien hoe jouw bedrukking wordt. Als je via de mail akkoord geeft op het ontwerp en de offerte, start de productie. De levertijd kan afhangen van de drukte en voorraad. Wij zullen je over de actuele levertijd informeren.
                                                Nadat je artikelen zijn bedrukt, ontvang je een email met jouw track & trace code.</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Logo niet bij de hand tijdens het doen van een bestelling?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Heb je jouw logo niet bij de hand? Bestel dan alsnog. Je kunt je logo of drukbestand na je offerteaanvraag mailen. Wij zullen contact met je opnemen.</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Bestelling annuleren
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Na je online bestelling kun je er nog voor kiezen om te annuleren. Je bestelling gaat pas in productie nadat jij akkoord gaat met het digitale ontwerp. Je mag tot die tijd nog afzien van je bestelling. Om wat voor reden dan ook. Als het ontwerp door je akkoord is gegeven zetten wij het door naar de productie en is annuleren niet meer mogelijk. </p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Wat zijn de betaalmogelijkheden?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Je kan de bestelling afrekenen met jouw favoriete betaalmethode: iDeal, Credit Card, Bancontact of met een bankoverschrijving. Je kan er ook voor kiezen om op factuur te betalen.</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Op factuur betalen?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Je kan je bestelling ook op factuur betalen. Je ontvangt de factuur als jij je bestelling hebt ontvangen. Deze dient te worden voldaan binnen 14 dagen.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section></main>
{% endblock %}
