{% sw_extends '@JoinzTheme/storefront/base.html.twig' %}
{% block base_offcanvas_navigation %}
{% endblock %}

{% block base_scroll_up %}
{% endblock %}

{% block base_cookie_permission %}
{% endblock %}

{% block base_pseudo_modal %}
{% endblock %}

{% block base_content %}
    <main>
        <div class="banner banner-small">
            <div class="background"></div>

            <div class="grid-container">



                <h1>Verzending & Levertijd</h1>
            </div>
        </div>    <div class="menu-small">
            <div class="grid-container">
                <nav>
                    <ul class="no-bullet flex-container align-justify">
                        <li class="flex-child-grow">
                            <a href="/joinz/upload-logo">Logo uploaden</a>
                        </li>
                        <li class="flex-child-grow">
                            <a href="/joinz/faq">Veel gestelde Vragen</a>
                        </li>
                        <li class="flex-child-grow">
                            <a href="/joinz/verzending">Verzendinformatie</a>
                        </li>
                        <li class="flex-child-grow">
                            <a href="/joinz/about-us/">Over ons</a>
                        </li>
                        <li class="flex-child-grow">
                            <a href="/joinz/order-process">Bestelproces</a>
                        </li>
                        <li class="flex-child-grow">
                            <a href="/joinz/contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>    <section class="section-faq">
            <div class="grid-container">
                <div class="grid-x">
                    <div class="cell medium-8">
                        <div class="accordion-small">
                            <div class="grid-container">
                                <div class="accordion-inner extended">


                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Wat is de levertijd van bedrukte artikelen?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Je kan een indicatie van de levertijd vinden op de productpagina. De actuele levertijd kan afhangen van het seizoen en de voorraad. Voor drukkere periodes zoals kerst en oudjaar is de levertijd langer dan normaal. Voor verzendingen naar België is levertijd 1 dag langer. </p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Wat is de levertijd van onbedrukte artikelen?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Vaak kun je deze binnen enkele werkdagen ontvangen. Dit is afhankelijk van de voorraad in ons magazijn.</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Is het mogelijk om producten met spoed te laten bedrukken?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Ja, sommige artikelen kunnen we versnelt bedrukken en leveren. Neem in dit geval op met ons. Dan adviseren we je welk product binnen de gewenste deadline kan worden geleverd.</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Krijg ik een track & trace code?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Zeker weten! Zodra je producten zijn bedrukt, ontvang je een track & trace code met jouw bestelling. Daarop kan je precies zien wanneer jij je producten krijgt. Voor de wijnbestellingen gebruiken wij een koerier die zonder T&T werkt maar dit is een uitzondering.</p>
                                        </div>
                                    </div>
                                    <div class="accordion-section">
                                        <div class="accordion-head">
                                            <span class="flex-container align-justify align-middle">
                                                Welke verzendmaatschappij gebruiken jullie?
                                                <i class="icon-caret-down"></i>
                                            </span>
                                        </div>

                                        <div class="accordion-body">
                                            <p>Jouw pakket/pallet wordt verzonden met DHL, UPS, PostNL of een koerier.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>            </div>
                </div>
            </div>
        </section></main>
{% endblock %}
