.company-info {
    color: #727272;
    font-size: rem-calc(16);

    p {
        margin-bottom: 25px;
        line-height: 1.65;
    }   

    .user-info {
        margin-bottom: 30px;
    }
}

// Responsive 
@include breakpoint(medium down) {
    .company-info {
        margin-top: 30px;
    }
}