i[class^="icon"] {
    display: inline-block;
    background-size: cover;
}

.icon-plus-printing {
    width: 14px;
    height: 14px;
    background: url(../img/svg/icons/plus.svg);
}

.icon-minus-printing {
    width: 14px;
    height: 14px;
    background: url(../img/svg/icons/minus.svg);
}

.icon-user {
    width: 26px;
    height: 25px;
    background: url(../img/svg/icons/icon-user.svg);
}

.icon-arrow-down {
    width: 11px;
    height: 8px;
    background: url(../img/svg/icons/icon-arrow-down.svg);
}

.icon-bag {
    width: 21px;
    height: 26px;
    background: url(../img/svg/icons/icon-bag.svg);
}

.icon-magnifying-glass {
    width: 23px;
    height: 22px;
    background: url(../img/svg/icons/icon-magnifying-glass.svg);
}

.icon-magnifying-glass-white {
    width: 22px;
    height: 23px;
    background: url(../img/svg/icons/icon-magnifying-glass-white.svg);
}

.icon-caret-down {
    width: 15px;
    height: 10px;
    background: url(../img/svg/icons/icon-caret-down.svg);
}

.icon-caret-down-white {
    width: 15px;
    height: 10px;
    background: url(../img/svg/icons/icon-caret-down-white.svg);
}

.icon-check-circle {
    width: 22px;
    height: 22px;
    background: url(../img/svg/icons/icon-check-circle.svg);
}

.icon-circle {
    width: 8px;
    height: 9px;
    background: url(../img/svg/icons/icon-circle.svg);
}

.icon-present {
    width: 60px;
    height: 61px;
    background: url(../img/svg/icons/icon-present.svg);
}

.icon-speaker {
    width: 66px;
    height: 61px;
    background: url(../img/svg/icons/icon-speaker.svg);
}

.icon-caret-right {
    width: 14px;
    height: 20px;
    background: url(../img/svg/icons/icon-caret-right.svg);
}

.icon-caret-left-white {
    width: 14px;
    height: 20px;
    background: url(../img/svg/icons/icon-caret-right-white.svg);
    transform: rotate(180deg);
}

.icon-caret-left-orange {
    width: 14px;
    height: 20px;
    background: url(../img/svg/icons/icon-caret-right-orange.svg);
    transform: rotate(180deg);
}

.icon-caret-right-orange {
    width: 14px;
    height: 20px;
    background: url(../img/svg/icons/icon-caret-right-orange.svg);
}

.icon-arrow-right-orange {
    width: 19px;
    height: 13px;
    background: url(../img/svg/icons/icon-arrow-right-orange.svg);
}

.icon-arrow-right-white {
    width: 21px;
    height: 18px;
    background: url(../img/svg/icons/icon-arrow-right-white.svg);
}

.icon-piggy-bank {
    width: 40px;
    height: 38px;
    background: url(../img/svg/icons/icon-piggy-bank.svg);
}

.icon-drop {
    width: 35px;
    height: 44px;
    background: url(../img/svg/icons/icon-drop.svg);
}

.icon-crown {
    width: 40px;
    height: 27px;
    background: url(../img/svg/icons/icon-crown.svg);
}

.icon-pointer {
    width: 49px;
    height: 49px;
    background: url(../img/svg/icons/icon-pointer.svg);
}

.icon-phone {
    width: 49px;
    height: 49px;
    background: url(../img/svg/icons/icon-phone.svg);
}

.icon-email {
    width: 49px;
    height: 49px;
    background: url(../img/svg/icons/icon-email.svg);
}

.icon-email-blue {
    width: 23px;
    height: 18px;
    background: url(../img/svg/icons/icon-mail-blue.svg);
}

.icon-phone-blue {
    width: 18px;
    height: 18px;
    background: url(../img/svg/icons/icon-phone-blue.svg);
}

.icon-facebook {
    width: 37px;
    height: 37px;
    background: url(../img/svg/icons/icon-facebook.svg);
}

.icon-youtube {
    width: 37px;
    height: 37px;
    background: url(../img/svg/icons/icon-youtube.svg);
}

.icon-linkedin {
    width: 36px;
    height: 37px;
    background: url(../img/svg/icons/icon-linkedin.svg);
}

.icon-instagram {
    width: 36px;
    height: 37px;
    background: url(../img/svg/icons/icon-instagram.svg);
}

.icon-conversation {
    width: 31px;
    height: 30px;
    background: url(../img/svg/icons/icon-conversation.svg);
}

.icon-pointer-next {
    width: 8px;
    height: 10px;
    background: url(../img/svg/icons/icon-pointer-next.svg);
}

.icon-pointer-next-white {
    width: 8px;
    height: 10px;
    background: url(../img/svg/icons/icon-pointer-next-white.svg);
}

.icon-check-blue {
    width: 13px;
    height: 10px;
    background: url(../img/svg/icons/icon-check-blue.svg);
}

.icon-check-white {
    width: 17px;
    height: 14px;
    background: url(../img/svg/icons/icon-check-white.svg);
}

.icon-check-gray {
    width: 16px;
    height: 12px;
    background: url(../img/svg/icons/icon-check-gray.svg);
}

.icon-no-imprint-location {
  width: 50px;
  height: 50px;
  background: url(../img/svg/icons/icon-no-imprint-location.svg);
}

.icon-one-color {
    width: 21px;
    height: 28px;
    background: url(../img/svg/icons/icon-one-color.svg);
}

.icon-two-colors {
    width: 45px;
    height: 26px;
    background: url(../img/svg/icons/icon-two-colors.svg);
}

.icon-three-colors {
    width: 44px;
    height: 56px;
    background: url(../img/svg/icons/icon-three-colors.svg);
}

.icon-four-colors {
    width: 44px;
    height: 56px;
    background: url(../img/svg/icons/icon-four-colors.svg);
}

.icon-five-colors {
    width: 46px;
    height: 40px;
    background: url(../img/svg/icons/icon-five-colors.svg);
}

.icon-six-colors {
    width: 46px;
    height: 40px;
    background: url(../img/svg/icons/icon-six-colors.svg);
}

.icon-seven-colors {
    width: 48px;
    height: 33px;
    background: url(../img/svg/icons/icon-seven-colors.svg);
}

.icon-eight-colors {
    width: 48px;
    height: 33px;
    background: url(../img/svg/icons/icon-eight-colors.svg);
}

.icon-nine-colors {
    width: 54px;
    height: 29px;
    background: url(../img/svg/icons/icon-nine-colors.svg);
}

.icon-ten-colors {
    width: 54px;
    height: 29px;
    background: url(../img/svg/icons/icon-ten-colors.svg);
}

.icon-doming {
    width: 51px;
    height: 51px;
    background: url(../img/svg/icons/icon-doming.svg);
}

.icon-blinddruk {
    width: 43px;
    height: 43px;
    background: url(../img/svg/icons/icon-blinddruk.svg);
}

.icon-sticker {
    width: 42px;
    height: 42px;
    background: url(../img/svg/icons/icon-sticker.svg);
}

.icon-default-color {
    width: 42px;
    height: 42px;
    background: url(../img/svg/icons/icon-default-color.svg);
}

.icon-full-color {
    width: 21px;
    height: 28px;
    background: url(../img/svg/icons/icon-full-color.svg);
}

.icon-laser {
    width: 32px;
    height: 32px;
    background: url(../img/svg/icons/icon-laser.svg);
}

.icon-stiching {
    width: 31px;
    height: 32px;
    background: url(../img/svg/icons/icon-stiching.svg);
}

.icon-minus {
    width: 24px;
    height: 4px;
    background: url(../img/svg/icons/icon-minus.svg);
}

.icon-alert-bell {
    width: 14px;
    height: 14px;
    background: url(../img/svg/icons/icon-alert-bell.svg);
}

.icon-list-gray {
    width: 32px;
    height: 33px;
    background: url(../img/svg/icons/icon-list-gray.svg);
}

.icon-bag-gray-lg {
    width: 28px;
    height: 34px;
    background: url(../img/svg/icons/icon-bag-gray-lg.svg);
}

.icon-file {
    width: 29px;
    height: 30px;
    background: url(../img/svg/icons/icon-file.svg);
}

.icon-ideal-bank {
    width: 33px;
    height: 33px;
    background: url(../img/svg/icons/icon-ideal-bank.svg);
}

.icon-bancontact {
    width: 32px;
    height: 32px;
    background: url(../img/svg/icons/icon-bancontact.svg);
}

.icon-creditcard {
    width: 24px;
    height: 24px;
    background: url(../img/svg/icons/icon-creditcard.svg);
}

.icon-account-burger {
    width: 42px;
    height: 33px;
    background: url(../img/svg/icons/icon-account-burger.svg);
}

.icon-account-bag {
    width: 44px;
    height: 49px;
    background: url(../img/svg/icons/icon-account-bag.svg);
}

.icon-account-person {
    width: 46px;
    height: 43px;
    background: url(../img/svg/icons/icon-account-person.svg);
}

.icon-account-address {
    width: 36px;
    height: 50px;
    background: url(../img/svg/icons/icon-account-address.svg);
}

.icon-responsive-menu {
    width: 22px;
    height: 22px;
    background: url(../img/svg/icons/icon-responsive-menu.svg);
}

.icon-close-menu-white {
    width: 24px;
    height: 24px;
    background: url(../img/svg/icons/icon-close-menu-white.svg);
}

.icon-callout {
    width: 18px;
    height: 18px;
    background: url(../img/svg/icons/icon-callout.svg);
}

.icon-callout-success {
    width: 18px;
    height: 18px;
    background: url(../img/svg/icons/icon-callout-success.svg);
}

.icon-callout-failed {
    width: 4px;
    height: 18px;
    background: url(../img/svg/icons/icon-callout-failed.svg);
}

.icon-callout-warning {
    width: 26px;
    height: 26px;
    background: url(../img/svg/icons/icon-callout-warning.svg);
}

@include breakpoint(medium down) {
    .icon-check-circle {
        width: 17px;
        height: 17px;
    }
}
