# BEGIN Shopware
# The directives (lines) between "# BEGIN Shopware" and "# END Shopware" are dynamically generated. Any changes to the directives between these markers will be overwritten.

DirectoryIndex index.php

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]

    # Sets the HTTP_AUTHORIZATION header removed by Apache
    RewriteCond %{HTTP:Authorization} .
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

    # If the requested filename exists, simply serve it.
    # We only want to let Apache serve files and not directories.
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Rewrite all other queries to the front controller.
    RewriteRule ^ %{ENV:BASE}/index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(?i:svg)$">
        Header set Content-Security-Policy "script-src 'none'"
    </FilesMatch>
</IfModule>

# END Shopware
Redirect 301 "/champagne-eigen-etiket.html" "/champagne-brut-premier-cru/a1192-champagne.brut.premier.cru"
Redirect 301 "/cava-eigen-etiket.html" "/wijnkist-cava-met-eigen-etiket-brut/a1192-wijnkist.-cava.brut.-.spanje-1join-0"
Redirect 301 "/klein-flesje-prosecco-eigen-etiket.html" "/piccolo-prosecco-frizzante-200-ml/a1192-piccolo.prosecco.frizzante.200.mlj-0"
Redirect 301 "/houten-usb-stick-bedrukken.html" "/houten-usb-stick/a1192-joinz-1850072"
Redirect 301 "/warmte-verkleurende-mok.html" "/sublimatie-mok-bardot/a467-15837002000"
Redirect 301 "/xl-foto-mok-425-ml.html" "/mokken/"
Redirect 301 "/seatzac-bedrukken-met-logo.html" "/seatzac-blauw/a1192-seatzac-blauw"
Redirect 301 "/credit-card-usb-stick.html" "/creditcard-usb-full-color/a1192-joinz-1847926"
Redirect 301 "/olijfhouten-borrelplank-graveren.html" "/olijfhouten-plank-sapgeul-ovaal-35-40-cm/a1192-jol3540s"
Redirect 301 "/jbl-tune-500bt.html" "/jbl-tune-500bt/a1192-jbl.tune.500btjoinz-2-0"
Redirect 301 "/badeend-bedrukken.html" "/duck/a36-mo9279-04"
Redirect 301 "/bidon-bedrukken.html" "/flessen/bidons/"
Redirect 301 "/bluetooth-speaker-telefoonhouder.html" "/bluetooth-speaker-telefoonhouder-wit/a1192-bluetooth.wit.-.telefoonhouder"
Redirect 301 "/usb-armband.html" "/armband-usb/a1192-joinz-1846091"
Redirect 301 "/eco-poncho-bedrukken-2.html" "/duurzame-poncho-voor-2-personen/a1192-4008joinz-2-0"
Redirect 301 "/driehoekige-pen-jito-solid.html" "/pen-met-driehoeksgreep-jito-color-rood/a1192-pen.met.driehoeksgreep.rood"
Redirect 301 "/weerstandsbanden-bedrukken-met-logo.html" "/fitness-band-set-bork/a467-16789000000"
Redirect 301 "/twister-usb-stick.html" "/twister-usb-stick/a1192-joinz-1848998"
Redirect 301 "/duurzame-waterfles-3.html" "/bronwater-500-ml-met-sportdop/a267-6251.138-fc"
Redirect 301 "/regenjassen-bedrukken-met-logo.html" "/regenjas-bedrukt-met-logo-j1011/a1192-regenjas.bedrukt.met.logo.-.j1011j-0"
Redirect 301 "/strandbal-bedrukken.html" "/strandbal-portobello/a467-18094002000"
Redirect 301 "/paaseitjes-brievenbus-geschenk-200gr.html" "/paaseitjes-brievenbus-geschenk-200gr/a1192-paaseitjesjoinz-2-0"
Redirect 301 "/sleutelhanger-karabijnhaak.html" "/sleutelhanger-tofin/a467-16488007000"
Redirect 301 "/bamboe-drinkfles-bedrukken.html" "/vacuuem-roestvrijstalen-fles-met-bamboe-deksel-en-bodem/a23-p436.791"
Redirect 301 "/klein-flesje-rose-eigen-etiket.html" "/rose-klein-flesje-250ml/a1192-rose.klein.flesje.250ml.joinz-2-0"
Redirect 301 "/sleutel-usb-stick.html" "/sleutel-usb-stick/a1192-joinz-1849967"
Redirect 301 "/prosecco-spumante-italie.html" "/prosecco-met-eigen-etiket-750ml-italie/a1192-prosecco.spumante.-.italiejoinz-2-0"
Redirect 301 "/gerecyclede-usb-stick.html" "/duurzame-usb-cilinder/a1192-joinz-1850136"
Redirect 301 "/houten-serveerplank-xxl.html" "/serveerplank-met-handvat-80x20x1-9cm/a1192-jbe8020"
Redirect 301 "/olijfhouten-borrelplank-groot.html" "/olijfhouten-serveerplank-sapgeul-ovaal-40-45-cm/a1192-jol4045s"
Redirect 301 "/glazen-zeshoekige-zuil-award-hexagon.html" "/glazen-zeshoekige-zuil-award-hexagon/a1192-glazen.zeshoekige.zuil.award.-hexa"
Redirect 301 "/borrelplank-ontwerpen.html" "/borrelplank-graveren/"
Redirect 301 "/sauvignon-blanc-met-eigen-etiket.html" "/witte-wijn-sauvignon-blanc-zuid-afrika/a1192-wweigetijoinz-2-0"
Redirect 301 "/scheidsrechtersfluitje-bedrukken.html" "/fluitje-yopet/a467-14649019000"
Redirect 301 "/katoenen-tassen-bedrukken-ecologisch-katoen.html" "/impact-aware-recycled-katoenen-draagtas-145gr/a23-p762.623"
Redirect 301 "/bio-poncho-bio-afbreekbaar.html" "/poncho-s/duurzame-poncho-s/"
Redirect 301 "/mason-jar-bedrukken.html" "/tropical-twist/a36-mo9565-48"
Redirect 301 "/bio-poncho-100-afbreekbaar-1.html" "/poncho-s/duurzame-poncho-s/"
Redirect 301 "/champagne-full-colour-sleeve.html" "/champagne-brut-premier-cru/a1192-champagne.brut.premier.cru"
Redirect 301 "/custom-made-speaker.html" "/custom-made-relatiegeschenken/"
Redirect 301 "/bottlebeatz-stainless-steel-2-in-1-thermosfles-speaker.html" "/flessen/thermoflessen/"
Redirect 301 "/borrelplank.html" "/serveerplank-essenhout-40x20x2cm/a1192-jes4020"
Redirect 301 "/notitieboek-bedrukken-a4-formaat.html" "/notitieblokje-kine/a467-13393007000"
Redirect 301 "/ringband-boekje-met-bedrukking-a5-gerecycled.html" "/notitieblokje-raimok/a467-15302004000"
Redirect 301 "/bidon-met-logo.html" "/flessen/bidons/"
Redirect 301 "/spoed-pen-bedrukken-baron.html" "/pennen/"
Redirect 301 "/latte-foto-mok-200-ml.html" "/mokken/mokken-met-foto-en-tekst/"
Redirect 301 "/walter-wallet-bedrukken.html" "/c-secure-aluminium-rfid-kaarthouder-portemonnee/a23-p850.515"
Redirect 301 "/baileys-chocolade-bonbon.html" "/doosje-met-4-chocolade-bonbons/a37-2094.100-fc"
Redirect 301 "/chupa-chups-lolly-bedrukken.html" "/chupa-chups-in-vierkant-doosje/a37-3426.100-fc"
Redirect 301 "/bier-opener-usb-stick.html" "/bieropener-usb/a1192-joinz-1850129"
Redirect 301 "/duurzame-waterfles-1.html" "/bronwater-330-ml-met-sportdop/a556-fd1912.400"
Redirect 301 "/glazen-drinkfles-met-logo.html" "/borosilicaatglas-fles-met-pu-sleeve/a23-p436.293"
Redirect 301 "/strand-tennisset-met-logo.html" "/strandtennis-set/a23-p453.415"
Redirect 301 "/grote-serveerplank-paulownia-hout.html" "/ukiyo-bamboe-grote-serveerplank/a23-p261.019"
Redirect 301 "/kleine-metalen-usb.html" "/metalen-usb-compact/a1192-joinz-1850204"
Redirect 301 "/stroopwafels-in-blik.html" "/blik-stroopwafels/a37-5560.103-fc"
Redirect 301 "/vergeet-mij-nietje-in-blik.html" "/woonaccessoires/bloempot/"
Redirect 301 "/goudstaaf-usb-stick.html" "/goudstaaf-usb-stick/a1192-joinz-1850183"
Redirect 301 "/sleutel-usb-stick-kleur.html" "/sleutel-usb-stick/a1192-joinz-1849967"
Redirect 301 "/knuffelbeer-dokter-kleding.html" "/speelgoed/"
Redirect 301 "/vierkante-glazen-award-met-bedrukking.html" "/vierkante-glazen-award-met-bedrukking-frame/a1192-vierkante.glazen.award.met.bedrukk"
Redirect 301 "/oranje-bier-ek.html" "/bier-met-eigen-etiket/"
Redirect 301 "/mini-usb-stick.html" "/mini-usb-stick/a1192-joinz-1850116"
Redirect 301 "/gouden-mok-bedrukken.html" "/mok-renkur/a467-15984023000"
Redirect 301 "/bier-pakket-met-eigen-etiket.html" "/bierpakket-met-eigen-etiket/a1192-bierpakket.met.eigen.etiketjoinz-2-0"
Redirect 301 "/mini-duimstok-sleutelhanger.html" "/mini-duimstok/a23-p112.003"
Redirect 301 "/hapjesplank-graveren.html" "/borrelplank-graveren/serveerplank-graveren/"
Redirect 301 "/cava-200ml-met-eigen-etiket.html" "/cava-200ml/a1192-cava.200mljoinz-2-0"
Redirect 301 "/witte-wijn-pinot-grigio-italie.html" "/witte-wijn-pinot-grigio-italie/a1192-witte.wijn.-.pinot.grigio.-.italie-0"
Redirect 301 "/vliegtuig-toilettas.html" "/toilettas-bracyn/a467-15933001000"
Redirect 301 "/cava-eigen-etiket-1.html" "/wijnkist-cava-met-eigen-etiket-brut/a1192-wijnkist.-cava.brut.-.spanje-1join-0"
Redirect 301 "/champagnefles-met-bonbons.html" "/champagnefles-met-metallic-sweets/a37-1782.102-fc"
Redirect 301 "/smint-doosje.html" "/smint-doosje/a37-1667.700-fc"
Redirect 301 "/domtoren-borrelplank.html" "/domtoren-plank-beuken-55-cm/a1192-jbe5512"
Redirect 301 "/tripel-bier-met-eigen-etiket.html" "/tripel-bier-met-eigen-etiket/a1192-tripel.bier.met.eigen.etiketjoinz-0"
Redirect 301 "/vrachtwagen-borrelplank.html" "/vrachtwagen-borrelplank/a1192-joi-mar-custom-1"
Redirect 301 "/weerstandsbanden-bedrukken.html" "/fitness-band-set-stalon/a467-16931000000"
Redirect 301 "/rose-shiraz-rose-zuid-afrika.html" "/wijn-met-eigen-etiket/rose/"
Redirect 301 "/rioja-crianza-eigen-etiket.html" "/rioja-crianza-spanje/a1192-rioja.crianza.-.spanjejoinz-2-0"
Redirect 301 "/rol-dextro-energy.html" "/rol-dextro-energy/a37-7420.100-3c"
Redirect 301 "/usb-sleutel-driehoek.html" "/driehoek-usb-sleutel/a1192-joinz-1850192"
Redirect 301 "/goudstaaf-mars.html" "/goudstaaf-mars/a37-1640.104-1c"
Redirect 301 "/custom-made-oplaadkabel.html" "/custom-made-oplaadkabel/a1192-custommadeoplaadkabeljoinz-2-0"
Redirect 301 "/tennis-sleutelhanger-geel.html" "/tennisbal-sleutelhanger-geel/a556-op1401.500"
Redirect 301 "/click-clack-pepermunt-kleur.html" "/super-mini-clic-clac-blikje/a37-1927.200-1c"
Redirect 301 "/flat-usb.html" "/platte-vierkante-usb/a1192-joinz-1850231"
Redirect 301 "/mini-goudstaafje.html" "/mini-goudstaafje/a1192-mini.goudstaafjejoinz-2-0"
Redirect 301 "/blond-bier-750ml-met-eigen-etiket.html" "/blond-bier-750ml-met-eigen-etiket/a1192-blond.bier.750mljoinz-2-0"
Redirect 301 "/curve-powerbank-5000-mah.html" "/aluminium-5.000-mah-5w-draadloze-zakformaat-powerbank/a23-p324.492"
Redirect 301 "/flesopener-magneet-button-56-mm.html" "/fles-opener-en-magneet-button-56-mm/a73-56bmagnet"
Redirect 301 "/wijnrek-personaliseren.html" "/opvouwbaar-wijnrek-dennen/a1192-opvouwbaar.wijnrek.dennen"
Redirect 301 "/flip-usb.html" "/ronde-flip-usb/a1192-joinz-1850228"
Redirect 301 "/tiny-tony-s-chocolonely-blik-klein.html" "/tiny-tony-s-chocolonely-blik-klein/a1192-tinyblikkleinjoinz-2-0"
Redirect 301 "/3-in-1-oplaadkabel-met-logo-verlichting-jo-i.html" "/oplaadkabel-lc2/a1192-oplaadkabel.lc2joinz-2-0"
Redirect 301 "/olijfolie-met-eigen-etiket-1.html" "/olijfolie-met-eigen-etiket-500ml/a1192-joi-brand-olijf500-1joinz-2-0"
Redirect 301 "/gouden-metalen-award-ster-105.html" "/gouden-metalen-award-ster-105/a1192-gouden.metalen.award.-.ster.105joi-0"
Redirect 301 "/zeezout-eigen-etiket.html" "/zeezout-100gr-inclusief-private-label/a1192-joi-brand-zoutjoinz-2-0"
Redirect 301 "/up-usb-stick-x.html" "/up-usb-stick/a1192-joinz-1846037"
Redirect 301 "/tarwestro-bluetooth-speaker.html" "/luidspreker-cayren/a467-16540013000"
Redirect 301 "/waterfles-sportdop-330-ml-8.html" "/bronwater-330-ml-met-draaidop/a556-fd1911.500"
Redirect 301 "/pitchfix-xl-3-0.html" "/pitchfix-xl-3.0/a556-pk1131.100"
Redirect 301 "/grote-houten-borrelplank.html" "/serveerplank-acacia-handvat-80x20x1-9-cm/a1192-jac8020"
Redirect 301 "/borrelplanken-bij-joinz.html" "/ukiyo-bamboe-serveerplank-rechthoekig/a23-p261.039"
Redirect 301 "/usb-hub-duurzaam.html" "/usb-hub-brunox/a467-16574013000"
Redirect 301 "/3-in-1-oplaadkabel-met-logo-verlichting-jo-ii.html" "/3-in-1-oplaadkabel-met-logo-verlichting-jo-ii/a1192-joi-ok-2"
Redirect 301 "/witte-wijn-chenin-blanc-zuid-afrika.html" "/witte-wijn-chenin-blanc-zuid-afrika/a1192-chenin"
Redirect 301 "/driehoek-tekstmarker.html" "/marker-trico/a467-13201000000"
Redirect 301 "/ijskrabber-creditcard.html" "/ijskrabber-driehoek/a130-817526-01"
Redirect 301 "/2-in-1-douchegel-100-ml.html" "/sport-douchegel-250-ml/a267-3101.200-fc"
Redirect 301 "/magneet-0-4-mm.html" "/koelkast-magneet-button-56-mm/a73-56fmagnet"
Redirect 301 "/standaard-poncho-j1001.html" "/standaard-poncho-j1001-1-zwart/a1192-standaard.poncho.-.j1001-1-zwart"
Redirect 301 "/serveerplank-graveren.html" "/ukiyo-bamboe-serveerplank-rond/a23-p261.029"
Redirect 301 "/magneet-0-75-mm-1.html" "/koelkast-magneet-button-75-mm/a73-75fmagnet"
Redirect 301 "/moestuin-relatiegeschenk.html" "/groententuin-kit-tomarux/a467-12641000000"
Redirect 301 "/shiva-750-ml.html" "/shiva-750-ml/a1192-shiva.750.ml"
Redirect 301 "/grote-bamboe-serveerplank-graveren.html" "/serveerplank-olywood-handvat-50x12-cm/a1192-joly5012"
Redirect 301 "/adventskalender-bedrukken.html" "/seizoenen/kerstgeschenken/adventskalenders/"
Redirect 301 "/awards.html" "/awards-trofeeen/"
Redirect 301 "/axionclip-met-logo.html" "/paperclips-met-logo/axionclip-met-logo/"
Redirect 301 "/beauty-wellness.html" "/beauty-wellness/"
Redirect 301 "/bedrijfsgadgets.html" "/gadgets-met-logo/bedrijfsgadgets/"
Redirect 301 "/bidons-bedrukken.html" "/flessen/bidons/"
Redirect 301 "/bier-met-eigen-etiket.html" "/bier-met-eigen-etiket/"
Redirect 301 "/bonbons-bedrukken.html" "/chocolade-bedrukken/bonbons-bedrukken/"
Redirect 301 "/borrelplank-graveren.html" "/borrelplank-graveren/"
Redirect 301 "/broodplank-graveren-met-logo.html" "/borrelplank-graveren/broodplank-graveren/"
Redirect 301 "/buttons-bedrukken-met-logo.html" "/buttons-bedrukken/"
Redirect 301 "/champagne-personaliseren.html" "/wijn-met-eigen-etiket/champagne/"
Redirect 301 "/chocolade-bedrukken.html" "/chocolade-bedrukken/"
Redirect 301 "/creditcard-usb-stick-bedrukken.html" "/usb-sticks/creditcard-usb-sticks/"
Redirect 301 "/crystal-impressions.html" "/crystal-impressions/"
Redirect 301 "/custom-made-awards.html" "/awards-trofeeen/custom-made-awards/"
Redirect 301 "/custom-made-powerbanks.html" "/custom-made-relatiegeschenken/"
Redirect 301 "/custom-made-relatiegeschenken.html" "/custom-made-relatiegeschenken/"
Redirect 301 "/custom-made-usb-sticks.html" "/usb-sticks/custom-made-usb-sticks/"
Redirect 301 "/dopper-bedrukken.html" "/flessen/"
Redirect 301 "/douchegel-bedrukken.html" "/persoonlijke-verzorging/douchegel-bedrukken/"
Redirect 301 "/draadloze-oplader-hout.html" "/draadloze-opladers/houten-draadloze-opladers/"
Redirect 301 "/draadloze-opladers-bedrukken.html" "/draadloze-opladers/"
Redirect 301 "/draadloze-powerbank.html" "/powerbanks/draadloze-powerbanks/"
Redirect 301 "/draadloze-powerbanks.html" "/powerbanks/draadloze-powerbanks/"
Redirect 301 "/drinkwaren.html" "/eten-drinkwaren/"
Redirect 301 "/druivensuiker-bedrukken.html" "/snoep-en-pepermunt/druivensuiker-bedrukken/"
Redirect 301 "/duimstok-bedrukken.html" "/gereedschap-bedrukken/duimstokken/"
Redirect 301 "/duurzame-poncho-bedrukken.html" "/poncho-s/duurzame-poncho-s/"
Redirect 301 "/duurzame-relatiegeschenken.html" "/duurzame-relatiegeschenken/"
Redirect 301 "/duurzame-waterfles-bedrukken.html" "/flessen/duurzame-flessen/"
Redirect 301 "/eco-relatiegeschenken.html" "/eco-relatiegeschenken/"
Redirect 301 "/eindejaarsgeschenk.html" "/eindejaarsgeschenken-2022/"
Redirect 301 "/eindejaarsgeschenken.html" "/eindejaarsgeschenken-2022/"
Redirect 301 "/electronica-en-gadgets.html" "/elektronica-gadgets/"
Redirect 301 "/fitness-producten.html" "/fitness-producten/"
Redirect 301 "/gadgets-bedrukken-met-logo.html" "/gadgets-met-logo/"
Redirect 301 "/gereedschap-bedrukken.html" "/gereedschap-bedrukken/"
Redirect 301 "/glazen-awards.html" "/awards-trofeeen/glazen-awards-trofeeen/"
Redirect 301 "/glazen-waterfles-bedrukken.html" "/flessen/glazen-waterflessen/"
Redirect 301 "/goedkope-draadloze-opladers.html" "/draadloze-opladers/goedkope-draadloze-opladers/"
Redirect 301 "/goedkope-gadgets-bedrukken.html" "/gadgets-met-logo/goedkope-gadgets/"
Redirect 301 "/goedkope-pennen-bedrukken.html" "/pennen/goedkope-pennen/"
Redirect 301 "/goedkope-powerbanks-bedrukken.html" "/powerbanks/goedkope-powerbanks/"
Redirect 301 "/goedkope-usb-sticks-bedrukken.html" "/usb-sticks/goedkope-usb-sticks/"
Redirect 301 "/golf-tees-bedrukken.html" "/golf/golf-tees-bedrukken/"
Redirect 301 "/golfballen-bedrukken.html" "/golf/golfballen/"
Redirect 301 "/golfballen-met-logo.html" "/golf/golfballen/"
Redirect 301 "/handcreme-bedrukken.html" "/cremes-lotions/handcreme-bedrukken/"
Redirect 301 "/hoge-capaciteit-powerbanks.html" "/powerbanks/hoge-capaciteit-powerbanks/"
Redirect 301 "/houten-awards.html" "/awards-trofeeen/houten-awards/"
Redirect 301 "/houten-spellen-bedrukken.html" "/spellen/houten-spellen/"
Redirect 301 "/https-joinz-nl-toilettas-bedrukken.html" "/overig/toilettassen/"
Redirect 301 "/ijskrabber-bedrukken.html" "/thema-s/auto/ijskrabber/"
Redirect 301 "/jbl-speakers-bedrukken.html" "/bluetooth-speakers/jbl-speakers/"
Redirect 301 "/kaasplank-graveren-met-logo.html" "/borrelplank-graveren/kaasplank-graveren/"
Redirect 301 "/kauwgom-bedrukken.html" "/snoep-en-pepermunt/kauwgom-bedrukken/"
Redirect 301 "/keycord-met-oplaadkabel.html" "/keycords/keycord-met-oplaadkabel/"
Redirect 301 "/king-pepermunt-bedrukken.html" "/snoep-en-pepermunt/king-pepermunt-bedrukken/"
Redirect 301 "/kleine-flesjes-wijn-met-eigen-etiket.html" "/mini-flesjes-wijn/"
Redirect 301 "/linialen-bedrukken.html" "/linialen/"
Redirect 301 "/lippenbalsem-bedrukken.html" "/lippenbalsem-bedrukken/"
Redirect 301 "/lolly-bedrukken.html" "/snoep-en-pepermunt/lolly-bedrukken/"
Redirect 301 "/luxe-pennen-bedrukken.html" "/pennen/luxe-pennen/"
Redirect 301 "/markclip-met-logo.html" "/paperclips-met-logo/markclip-met-logo/"
Redirect 301 "/markeerstiften-bedrukken.html" "/markeerstiften/"
Redirect 301 "/meetlint-bedrukken.html" "/gereedschap-bedrukken/"
Redirect 301 "/mentos-bedrukken.html" "/snoep-en-pepermunt/mentos-bedrukken/"
Redirect 301 "/metalen-awards.html" "/awards-trofeeen/metalen-awards/"
Redirect 301 "/metalen-pennen.html" "/pennen/metalen-pennen/"
Redirect 301 "/mini-speakers.html" "/bluetooth-speakers/mini-speakers/"
Redirect 301 "/mokken-bedrukken.html" "/mokken/"
Redirect 301 "/mondkapjes-en-corona-producten.html" "/persoonlijke-verzorging/"
Redirect 301 "/olijfhouten-serveerplank.html" "/borrelplank-graveren/olijfhouten-serveerplank/"
Redirect 301 "/oordopjes-en-koptelefoons-bedrukken.html" "/oordopjes-bedrukken/"
Redirect 301 "/oplaadkabels-met-logo.html" "/oplaadkabels-snoertjes/"
Redirect 301 "/oranje-artikelen-bedrukken.html" "/seizoenen/oranje-artikelen-met-logo/"
Redirect 301 "/outdoor-vrije-tijd.html" "/outdoor-sport-vrijetijd/"
Redirect 301 "/paperclips-met-logo.html" "/paperclips-met-logo/"
Redirect 301 "/papieren-zakdoekjes-bedrukken.html" "/huishouden/papieren-zakdoekjes-bedrukken/"
Redirect 301 "/pennen-bedrukken-met-logo.html" "/pennen/pennen-met-logo/"
Redirect 301 "/pennen-graveren.html" "/pennen/pennen-graveren/"
Redirect 301 "/pennen-kantoor.html" "/pennen/"
Redirect 301 "/pepermunt-bedrukken.html" "/snoep-en-pepermunt/pepermunt/"
Redirect 301 "/pitchfork-bedrukken.html" "/golf/pitchfork-bedrukken/"
Redirect 301 "/platte-powerbanks.html" "/powerbanks/platte-powerbanks/"
Redirect 301 "/plexiglas-awards.html" "/awards-trofeeen/plexiglas-awards/"
Redirect 301 "/plexiglas-tombstones-awards.html" "/awards-trofeeen/plexiglas-tombstone-awards/"
Redirect 301 "/powerbank-bedrukken-met-logo.html" "/powerbanks/"
Redirect 301 "/powerbank-relatiegeschenk-spoed.html" "/powerbanks/spoed-powerbanks/"
Redirect 301 "/promoclip-met-logo.html" "/paperclips-met-logo/promoclip-met-logo/"
Redirect 301 "/promotiemateriaal.html" "/promotiemateriaal/"
Redirect 301 "/prosecco-met-eigen-etiket.html" "/wijn-met-eigen-etiket/prosecco/"
Redirect 301 "/relatiegeschenken-zorg.html" "/seizoenen/dag-van-de-zorg-cadeau/"
Redirect 301 "/rode-wijn-met-eigen-etiket.html" "/wijn-met-eigen-etiket/rode-wijn/"
Redirect 301 "/rolmaat-bedrukken.html" "/gereedschap-bedrukken/rolmaat-bedrukken/"
Redirect 301 "/rose-met-eigen-etiket.html" "/wijn-met-eigen-etiket/rose/"
Redirect 301 "/schrijfblokken-bedrukken-met-logo.html" "/notitieboekjes/"
Redirect 301 "/serveerplank-graveren-joinz.html" "/borrelplank-graveren/serveerplank-graveren/"
Redirect 301 "/shakebeker-bedrukken.html" "/flessen/bidons/shakebeker/"
Redirect 301 "/sleutelhangers-met-logo.html" "/sleutelhangers/"
Redirect 301 "/snel-waterfles-bedrukken.html" "/flessen/waterflesjes-spoed/"
Redirect 301 "/snijplank-graveren-met-logo.html" "/borrelplank-graveren/snijplank-graveren/"
Redirect 301 "/snoep-bedrukken-met-logo.html" "/snoep-en-pepermunt/"
Redirect 301 "/solar-powerbank-bedrukken-logo.html" "/powerbanks/solar-powerbank/"
Redirect 301 "/speaker-bedrukken-met-logo.html" "/bluetooth-speakers/"
Redirect 301 "/spellen-bedrukken.html" "/spellen/"
Redirect 301 "/spoed-awards.html" "/awards-trofeeen/spoed-awards/"
Redirect 301 "/spoed-draadloze-opladers.html" "/draadloze-opladers/spoed-draadloze-opladers/"
Redirect 301 "/spoed-notitieboekjes-bedrukken.html" "/notitieboekjes/"
Redirect 301 "/spoed-pennen-bedrukken.html" "/pennen/spoed-pennen-bedrukken/"
Redirect 301 "/spoed-usb-sticks.html" "/usb-sticks/spoed-usb-sticks/"
Redirect 301 "/sport-gadgets-bedrukken.html" "/gadgets-met-logo/sport-gadgets/"
Redirect 301 "/stanleymes-bedrukken.html" "/gereedschap-bedrukken/stanleymes-bedrukken/"
Redirect 301 "/ster-awards.html" "/awards-trofeeen/ster-awards/"
Redirect 301 "/strandbal-bedrukken.html" "/seizoenen/strandartikelen/strandbal/"
Redirect 301 "/teddybeer-bedrukken.html" "/teddybeer-bedrukken/"
Redirect 301 "/telefoon-gadgets-bedrukken.html" "/telefoon-gadgets/"
Redirect 301 "/telefoonhouder-fiets-bedrukken.html" "/fiets/telefoonhouder-fiets/"
Redirect 301 "/tennisballen-bedrukken.html" "/ballen/tennisballen-bedrukken/"
Redirect 301 "/thee-bedrukken.html" "/thee-bedrukken/"
Redirect 301 "/thermosbekers.html" "/bekers/thermosbekers/"
Redirect 301 "/thermosflessen.html" "/flessen/thermoflessen/"
Redirect 301 "/thuiswerk-geschenken.html" "/thuiswerk-geschenken/"
Redirect 301 "/tissue-box-bedrukken.html" "/huishouden/tissue-box-bedrukken/"
Redirect 301 "/tony-chocolonely-bedrukken.html" "/chocolade-bedrukken/tony-s-chocolonely/"
Redirect 301 "/top-10-awards.html" "/awards-trofeeen/top-10-awards/"
Redirect 301 "/trofee.html" "/awards-trofeeen/trofeeen/"
Redirect 301 "/tuintje-met-logo.html" "/bureau-artikelen/kantoortuintje/"
Redirect 301 "/usb-stick-graveren.html" "/usb-sticks/usb-sticks-graveren/"
Redirect 301 "/usb-stick-sleutel-bedrukken.html" "/usb-sticks/sleutel-usb-sticks/"
Redirect 301 "/usb-sticks-bedrukken-met-logo.html" "/usb-sticks/"
Redirect 301 "/verfrissingsdoekjes-bedrukken.html" "/huishouden/verfrissingsdoekjes-bedrukken/"
Redirect 301 "/voedsel-verpakking-bedrukken.html" "/eten-drinkwaren/"
Redirect 301 "/waterfles-bedrukken-goedkoop.html" "/flessen/goedkope-waterflesjes/"
Redirect 301 "/waterfles-met-logo.html" "/flessen/waterflesjes/"
Redirect 301 "/wijn-met-eigen-etiket.html" "/wijn-met-eigen-etiket/"
Redirect 301 "/wijn-met-full-colour-sleeve.html" "/wijn-met-eigen-etiket/"
Redirect 301 "/wijnaccessoires-met-logo.html" "/flesopeners/"
Redirect 301 "/wijnkist-graveren.html" "/geschenkpakket/wijnkistjes/"
Redirect 301 "/wingclip-met-logo.html" "/paperclips-met-logo/wingclip-met-logo/"
Redirect 301 "/witte-wijn-met-eigen-etiket.html" "/wijn-met-eigen-etiket/witte-wijn/"
Redirect 301 "/zakdoek-bedrukken.html" "/huishouden/zakdoek-bedrukken/"
Redirect 301 "/zeep-bedrukken.html" "/persoonlijke-verzorging/zeep-bedrukken/"
Redirect 301 "/zitzakken-bedrukken.html" "/zitzakken/"
Redirect 301 "/poncho-bedrukken-met-logo.html" "/poncho-s/"
Redirect 301 "/borrelplank-graveren/" "/borrelplanken-graveren-met-logo/"
Redirect 301 "/black-friday-korting/" "/navigation/7d3eb03a3d83405ea485ce0989fd80d7"