<div class="order-process-list">
    <div class="grid-container">
        <ul class="no-bullet flex-container align-justify align-middle">
            {{# each order-steps}}
                <li class="flex-container align-middle align-justify flex-dir-column">
                    <div class="flex-container align-middle">
                        <img src="../../assets/img/svg/{{image}}" alt="">
                    </div>
                    <p>{{text}}</p>
                </li>
            {{/each}}
        </ul>
    </div>
</div>