<section class="section-contact">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7">
                {{> form-contact}}
            </div>

            <div class="cell large-1 show-for-large"></div>

            <div class="cell large-4">
                <div class="company-info">
                    <h4>Bedrijfsgegevens</h4>

                    <div class="user-info flex-container align-middle">
                        <img src="../assets/img/sara-jone.png" alt="Customer service">
    
                        <div class="flex-container align-justify">
                            <div>
                                <a href="tel:033-2464177"><b>033-2464177</b></a>
                                <span>08.00-17.00</span>
                            </div>
                            <div>
                                <a href="mailto:info@joinz.nl"><b>info@joinz.nl</b></a>
                            </div>
                        </div>
                    </div>

                    <p>
                        <b>Adres</b> <br>
                        Henri Nouwenstraat 34 <br>
                        3863 HV, Nijkerk <br>
                        Nederland <br>
                        
                    <p>
                        <b>Bedrijfsinformatie</b> <br>
                        KVK: 76577325 <br>
                        BTW-nummer: NL860683333B01 <br>
                    </p>
                        
                    <p>
                        IBAN: NL79 INGB 0008 1330 18 <br>
                        Ten name van: Joinz <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>