<section class="section-stats">
    <div class="grid-container">
        <div class="section-inner">
            <img class="blue-star" src="../assets/img/svg/blue-star.svg" alt="">
            <img class="green-star" src="../assets/img/svg/green-star.svg" alt="">
            <img class="logo-kiyoh" src="../assets/img/svg/logo-kiyoh.svg" alt="">

            <div class="flex-container align-spaced align-bottom">
                <div>
                    <span>
                        <b>9,326</b>
                        Users
                    </span>
                </div>
                <div>
                    <div class="pointer">
                        <img src="../assets/img/svg/pointer.svg" alt="">
                        <span>4.7</span>
                    </div>
                    <img src="../assets/img/svg/rating.svg" alt="" class="rating">
                    <p>
                        <b>16 Reviews</b>
                        in the last 12 months 100% recommend us
                    </p>
                </div>
                <div>
                    <span>
                        <b>10,142</b>
                        Reviews
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>