<section class="section-description">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 medium-12">
                <div class="product-description">
                    <div>
                        <h6>Productbeschrijving</h6>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <div class="description-list">
                        <h6>Voorraad</h6>

                        <ul>
                            <li>
                                <img src="../../assets/img/hat-blue.png" alt="">
                                <p>Niet voorradig, neem contact op om levertijd te bespreken</p>
                            </li>

                            <li>
                                <img src="../../assets/img/hat-beige.png" alt="">
                                <p>330 Op Voorraad</p>
                            </li>

                            <li>
                                <img src="../../assets/img/hat-yellow.png" alt="">
                                <p>25 Op Voorraad</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cell large-6 medium-12">
                <div class="grid-x grid-margin-x">
                    <div class="product-description cell large-12 medium-6">
                        <h6>Bedrukkingsmogelijkgeden</h6>
    
                        <div class="description-slider flex-container">
                            <div>
                                <img src="../../assets/img/product-sample.png" alt="">
                                <p>Front</p>
                            </div>
    
                            <div>
                                <img src="../../assets/img/product-sample.png" alt="">
                                <p>Back</p>
                            </div>

                            <div>
                                <img src="../../assets/img/product-sample.png" alt="">
                                <p>Back</p>
                            </div>

                            <div>
                                <img src="../../assets/img/product-sample.png" alt="">
                                <p>Back</p>
                            </div>

                            <div>
                                <img src="../../assets/img/product-sample.png" alt="">
                                <p>Back</p>
                            </div>
                            <div>
                                <img src="../../assets/img/product-sample.png" alt="">
                                <p>Back</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="product-description product-table cell large-12 medium-6">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Product name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Art.nr.</td>
                                    <td>100-3942</td>
                                </tr>
                                <tr>
                                    <td>Delivery time</td>
                                    <td>10 Days</td>
                                </tr>
                                <tr>
                                    <td>Size</td>
                                    <td>7x25,5 cm</td>
                                </tr>
                                <tr>
                                    <td>Weight (gr)</td>
                                    <td>294</td>
                                </tr>
                                <tr>
                                    <td>Product SKU</td>
                                    <td>1003942107</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>