<section class="section-company-strengths">
    <div class="background show-for-xxlarge"></div>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6">
                <div class="section-left">
                    <h3>3 Redenen Waarom bedrijven graag met ons samenwerken</h3>

                    <ul class="no-bullet">
                        <li class="flex-container">
                            <span>
                                <i class="icon-piggy-bank"></i>
                            </span>
                            <p><b>Je betaal nooit te veel voor je relatiegeschenken</b> Wij kopen slim in zodat jij nooit teveel betaald voor je bedrukte mok of gegraveerde borrelplank. Het inkopen van producten op de juiste tijd draagt is een van onze succesfactoren.</p>
                        </li>
                        <li class="flex-container">
                            <span>
                                <i class="icon-drop"></i>
                            </span>
                            <p><b>Pixel-perfecte bedrukking</b> Comfy hoodies met zeefdruk, USBs met tampondruk, of gewoon een digitale druk op je wijnetiket. Wij leven op inkt. Wij zorgen voor de beste druktechniek voor jouw budget & wensen.</p>
                        </li>
                        <li class="flex-container">
                            <span>
                                <i class="icon-crown"></i>
                            </span>
                            <p><b>Uitstekende service</b> Comfy hoodies met zeefdruk, USBs met tampondruk, of gewoon een digitale druk op je wijnetiket. Wij leven op inkt. Wij zorgen voor de beste druktechniek voor jouw budget & wensen.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cell large-6">
                <div class="section-right flex-container flex-dir-column align-right">
                    <img class="star show-for-large" src="../../assets/img/svg/star.svg" alt="">

                    <div class="section-image">
                        <div class="background"></div>
                        <img src="../../assets/img/office-2.png" alt="">
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</section>