<section class="section-info">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-5">
                <div class="section-image">
                    <div class="background"></div>
                    <img src="../../assets/img/joinz-gifts.png" alt="">
                    <p>Gifts en Premium Fare Hong Kong (Bram links, Tom rechts)</p>
                </div>
            </div>
            <div class="cell medium-7">
                <div class="section-content">
                    <h3>Bram en tom hebben passie voor relatiegeschenken En ondernemen</h3>

                    <p>Iedereen houdt ervan om kadootjes te krijgen of  weg te geven. De oprichters van Joinz houden ervan om kado’s te maken. Het liefst gepersonliseerd; “Dat is wat geven zo leuk maakt”.</p>

                    <p>“Joinz bedrukt al 20 jaar relatiegeschenken en promotieartikelen. Maar geen een jaar is hetzelfde, er is nooit stilstand. Of dat nu is op het gebied van bedrukking is of ons aanbod, we zijn altijd bezig met innovatie”</p>

                    <p class="center">- Bram van Oordt, Mede-oprichter Joinz</p>
                </div>
            </div>
        </div>
    </div>
</section>
