<section class="section-products section-products-alt">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-3 hide-for-small-only">
                <div class="section-left">
                    {{> product-categories}}
                </div>
            </div>
            <div class="cell large-9">
                <div class="section-right">
                    {{> list-categories}}
                    {{> section-products-slider products-top-alt}}
                    {{> section-products-listing}}
                    {{> section-article}}
                </div>
            </div>
        </div>
    </div>
</section>