<section class="section-about">
    <div class="grid-container">
        <div class="section-inner flex-container align-justify align-middle">
            <div class="section-content">
                <h2>About Joinz</h2>

                <p>Zorgeloos het beste promotiemateriaal en de leukste geschenken bestellen? Bij Joinz gaat dat heel
                    gemakkelijk in de uitgebreide webshop. Ons team staat paraat om je te voorzien van het beste advies
                    en ideeën.</p>

                <p>Sinds 2000 leveren wij met veel enthousiasme de nieuwste relatiegeschenken. Wij zijn een bruisend
                    familiebedrijf en zetten ons graag 100% voor je in!</p>

                <p>Joinz staat voor verbinden en verenigen we komen graag met je in contact. Ontvang vrijblijvend de
                    mooiste ontwerpen en de origineelste voorstellen. En laat ons samen met jou je klanten en relaties
                    versteld staan.</p>

                <p>Bij Joinz krijg je naast onze full service ook de scherpste prijs en snelste afleveroptie aangeboden.
                    Dit alles om het proces zorgeloos voor je te laten verlopen.</p>

                <a href="#" class="link-read-more flex-container align-middle">
                    Read More
                    <i class="icon-arrow-right-orange"></i>
                </a>
            </div>

            <div class="section-image flex-container align-middle">
                <div class="background"></div>
                
                <div class="image">
                    <img src="../assets/img/Joinz_Team_Groepsfoto.png" alt="Joinz Team">
                </div>
            </div>
        </div>

        <div class="section-bottom hide-for-small-only">
            <ul class="menu">
                {{#each about-assets}}
                    <li>
                        {{> about-asset}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>




