<section class="section-thank-you">
    <div class="grid-container">
        <div class="section-inner">
            <div class="background"></div>
            <div class="section-head">
                <h4>Hi [name], bedankt voor je bestelling!</h4>
                <p>We hebben een bevestingingsmail gestuurd naar: [insert email] Bekijk je spamfolder en whitelist @joinz.nl. We sturen je z.s.m. een <b>digitaal ontwerp!</b></p>
            </div>

            <div class="section-body">
                {{> form-thank-you}}
            </div>
        </div>
    </div>
</section>