<section class="section-callout">
    <div class="grid-container">
        <div class="grid-x grid-margin-x flex-container">
            <div class="cell large-6 medium-12">
                <h2>Laat direct een ontwerp maken</h2>
            </div>

            <div class="section-content flex-child-grow flex-container align-right align-middle">
                <div class="flex-container align-justify align-middle">
                    <p>Onze ontwerper <br> Sara is online</p>
                    <div class="section-image">
                        <img src="../../assets/img/sara-jone-middle.png" alt="">
                        <span></span>
                    </div>
                </div>

                <button class="button button-white">
                    <i class="icon-conversation"></i>
                    <b>Live ontwerp</b>
                </button>
            </div>
        </div>
    </div>
</section>