<section class="section-upload-logo">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-7">
                {{> form-upload-logo}}
            </div>

            <div class="cell large-1 show-for-large"></div>

            <div class="cell large-4">
                <div class="company-info">
                    <h6>Hulp Nodig?</h6>

                    <div class="user-info flex-container align-middle">
                        <img src="../assets/img/sara-jone.png" alt="Customer service">

                        <div class="flex-container align-justify">
                            <div>
                                <a href="tel:033-2464177"><b>033-2464177</b></a>
                                <span>08.00-17.00</span>
                            </div>
                            <div>
                                <a href="mailto:info@joinz.nl"><b>info@joinz.nl</b></a>
                            </div>
                        </div>
                    </div>

                    {{> accordion-small accordion-small.faq-2}}
                </div>
            </div>
        </div>
    </div>
</section>