<section class="section-contact-info">
    <div class="grid-container">
        <h3>Kom met ons in contact</h3>

        <p>We staan klaar om voor je aan de slag te gaan!</p>

        <div class="grid-x grid-margin-x">
            <div class="cell large-3 medium-6">
                <h6>Openingstijden klantenservice</h6>

                <p>
                    Maandag tot Vrijdag <br>
                    Van 09:00 tot 17:00
                </p>
            </div>

            <div class="cell large-3 medium-6">
                <h6>Contactgegevens</h6>

                <p>
                    033-2464177 <br>
                    info@joinz.nl
                </p>
            </div>

            <div class="cell large-3 medium-6">
                <h6>Bezoekadres</h6>

                <p>
                    Henrivannouwenstraat 34 <br>
                    3863 HV, Nijkerk <br>
                    Nederland
                </p>
            </div>

            <div class="cell large-3 medium-6">
                <h6>Offerte of ontwerp bedrukking?</h6>

                <p>
                    Neem vrijblijvend contact met ons op. Een ontwerp ontvang je vaak al binnen 1 uur!
                </p>
            </div>
        </div>
    </div>
</section>