<section class="section-owners">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-5">
                <div class="section-left">
                    <div class="background"></div>
                    <img class="image-1" src="../../assets/img/owner-1.png" alt="">
                    <img class="image-2" src="../../assets/img/owner-2.png" alt="">
                    <img class="image-3" src="../../assets/img/owner-3.png" alt="">
                </div>
            </div>
            <div class="cell large-7">
                <div class="section-right">
                    <h3>Joinz <span class="hide-for-small-only">Relatiegeschenken</span> in 3 woorden</h3>

                    <p>Joinz in 3 woorden: familie, bedrukken, handelsdrift</p>

                    <ul>
                        <li>Er is genoeg liefde binnen ons familiebedrijf om met jou te delen.</li>
                        <li>Wij bedrukken vol trots en passie relatiegeschenken en promotieartikelen.</li>
                        <li>Onze werknemers houden van ondernemen</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>