<section class="section-article">
    <div class="grid-container">
        <h4>Lorem ipsum dolor sit amet consec tetur adipiscing elit</h4>

        <p>Do you know what is the most important factor for the success of a promotional product? Functionality! And
            let's
            face it: with our busy schedules, what could be more convenient than a calendar or a calendar for all your
            appointments. With this you bring your company to the attention of your customers all year round. This way
            they
            are reminded of your brand every day. It's also the perfect gift to start fresh every year! Let us inspire
            you.
            Have cheap diaries or calendars printed with your logo and ensure a lasting, good impression of your brand!
        </p>

        <div class="section-image flex-container align-middle">
            <div class="image-small">
                <img src="../assets/img/bag.png" alt="Bag">
            </div>

            <div class="image-large">
                <img src="../assets/img/couple.png" alt="Couple">
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet, eu clita iriure perpetua sed. Ad tantas indoctum usu, probatus democritum nam ne.
            Iusto repudiandae pri no, eu mea dolorem abhorreant. Ad pertinax mnesarchum definiebas pri, ea liberavisse
            concludaturque vix. Sit ad harum invidunt mediocrem. Accusata salutandi dissentiunt te vim. Lorem ipsum dolor sit amet, eu clita iriure perpetua sed. Ad tantas indoctum usu, probatus democritum nam ne.
            Iusto repudiandae pri no, eu mea dolorem abhorreant. Ad pertinax mnesarchum definiebas pri, ea liberavisse
            concludaturque vix. Sit ad harum invidunt mediocrem. Accusata salutandi dissentiunt te vim.</p>

        <p>Lorem ipsum dolor sit amet, eu clita iriure perpetua sed. Ad tantas indoctum usu, probatus democritum nam ne.
            Iusto repudiandae pri no, eu mea dolorem abhorreant. Ad pertinax mnesarchum definiebas pri, ea liberavisse
            concludaturque vix. Sit ad harum invidunt mediocrem. Accusata salutandi dissentiunt te vim.</p>

        <p class="read-more"><a href="#">Read More +</a></p>
    </div>
</section>