<section class="section-cart">
    <div class="section-inner">
        <div class="section-head">
            <div class="grid-x flex-container align-stretch">
                <div class="cell large-7 medium-12">
                    <div class="section-left">
                        <div class="flex-container align-middle">
                            {{> logo}}
                            <div class="recommended">
                                <img src="../../assets/img/svg/recommended.svg" alt="99% recommend us on kiyoh">
                            </div>
                        </div>

                        <div class="loading-bar">
                            <div class="loading-bar-inner loading-99">
                                <p>Upload logo & ontvang offerte</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell large-5 medium-12">
                    <div class="section-right"></div>
                </div>
            </div>
        </div>
        <div class="section-body">
            <div class="grid-x grid-padding-x">
                <div class="cell large-7 medium-12">
                    <div class="section-left">
                        {{> form-payment}}

                        {{> accordion-small accordion-small.faq}}
                    </div>
                </div>
                <div class="cell large-5 medium-12">
                    <div class="section-right">
                        <div class="section-right-top">
                            <p class="flex-container align-middle align-justify">
                                <b>Levering: MA 28 FEB.</b>

                                <a href="#">Winkelmandje Wijzigen</a>
                            </p>
                            <a href="#" class="link-alert flex-container align-middle">
                                <i class="icon-alert-bell"></i>
                                Rond aanvraag af voor 17:00
                            </a>

                            {{> checkout-list}}
                        </div>

                        <div class="section-right-middle">
                            <p class="flex-container align-justify">
                                <span><b>Total Items</b></span>
                                <span><b>€3000,89</b></span>
                            </p>
                            <p class="flex-container align-justify">
                                <span>Shipping</span>
                                <span>€20</span>
                            </p>
                            <p class="flex-container align-justify">
                                <span>BTW</span>
                                <span>€650</span>
                            </p>
                            <p class="flex-container align-justify">
                                <span>Totaal incl. BTW</span>
                                <span>€3670,89</span>
                            </p>
                        </div>

                        <div class="section-right-bottom">
                            <p class="card"><b>Gratis annuleren</b>Je bestelling wordt pas doorgezet nadat jij akkoord gaat met het ontwerp! Je mag tot die tijd nog afzien van je bestelling!</p>

                            <div class="review">
                                <p>“TOP SERVICE! <br> Bestellen gaat vlot, ik kreeg dadelijk respons.” <span>Kathleen De Clercq , SCHILDE</span></p>
                                <span>Review op Kiyoh</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
