<section class="section-list">
    <div class="grid-container">
        <h4>{{title}}</h4>
    
        <div class="grid-x grid-margin-x">
            {{#repeat 4}}
                <div class="cell medium-3 small-6">
                    <ul>
                        {{#each categories-list}}
                            <li>
                                <a href="#">{{this}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/repeat}}
        </div>
    </div>
</section>