<section class="section-testimonials">
    <div class="grid-container">
        <div class="section-inner">
            <div class="background"></div>

            <div class="section-content">
                <h3>99% beveelt ons aan</h3>

                <p>
                    <span><b>Een keurig en vlot verlopen samenwerking!</b></span>
                    Wij kregen een tip van Joinz voor een relatiegeschenk dat echt bij ons bedrijf past en dus hebben wij snel om een offerte gevraagd. Het offerteproces en ook de bestelling daarna verliepen zeer soepel. Zelfs de levering was veel sneller dan gepland. En niet onbelangrijk: het geschenk is top!
                </p>

                <div class="section-bottom flex-container align-middle align-center">
                    <img src="../../assets/img/svg/kiyoh-testimonial-rating.svg" alt="">
                    Diana , Ridderkerk
                </div>

                <img class="logo-kiyoh" src="../assets/img/svg/logo-kiyoh.svg" alt="">
            </div>
        </div>
    </div>
</section>