<section class="section-order-process">
    {{> order-process-list}}

    <div class="section-content">
        <div class="grid-container">
            <h5>Online bestellen & gratis ontwerp binnen 1 uurs</h5>

            <p>
                Joinz maakt het reuze gemakkelijk. Na je bestelling ontvang je vaak binnen 1 uur al een ontwerp op de mail. Tevreden met het ontwerp en de prijs? Na akkoord starten wij het drukproces. Veel producten zijn op voorraad en kunnen al binnen 5 werkdagen worden geleverd.
            </p>

            <p>
                <b>Aanleverdeadlines</b>
                Onze aanlevertijden zijn gebaseerd op de druktechniek en de aantallen die jij gekozen hebt. Vandaag nog meetellen als werkdag in de levertijd voor jouw product? Maak je order compleet voor de deadline.
                Dit betekend dat je je logo op tijd moet uploaden en akkoord moet geven op het ontwerp.
            </p>

            <p>Aanleverdeadline: Maandag-vrijdag vóór 15:00.</p>
            

            <h5>Betaalmethodes</h5>

            <p>
                <b>Op factuur</b>
                In de meeste gevallen kan je op rekening betalen. De betalingstermijn is 14 dagen vanaf het moment dat de factuur is verstuurd.
            </p>

            <p>
                <b>iDeal of Bancontact</b>
                Je kunt natuurlijk ook gelijk afrekenen met iDeal of Bancontact. Wel zo makkelijk!
            </p>

            <h5>Productie start pas na akkoord ontwerp</h5>

            <p>
                We starten de productie niet direct na jouw online bestelling. Jij krijgt immers nog een ontwerp op de mail. Pas na jouw goedkeuring starten we het productieproces. Je kan het ontwerp goedkeuren door op de mail te reageren die we sturen met je ontwerp.
            </p>
            
            <h5>Bestelling gratis annuleren</h5>

            <p>
                Wil je om wat voor reden dan ook afzien van de bestelling? Bij Joinz kan je zonder problemen je bestelling annuleren voordat die in productie gaat. Heb je al een akkoord gegeven op het ontwerp? Dan is de kans groot dat de productie al is begonnen en kun je niet meer annuleren. Maar voordat de productie gestart is kan je gratis annuleren. Schoom dus niet en bestel direct online!
            </p>
        </div>
    </div>
</section>