<div class="account-menu">
    <div class="grid-container">
        <div class="account-menu-inner">
            <div class="grid-x grid-margin-x">
                {{#each account-menu-items}}
                    <div class="cell medium-3">
                        <div class="account-menu-item">
                            <a href="#" class="flex-container flex-dir-column align-middle align-center">
                                <i class="{{icon}}"></i>
                                {{text}}
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>