<div class="banner banner-primary">
    <div class="background"></div>
    <div class="grid-container">
        <div class="banner-inner flex-container align-justify align-middle">
            <div class="content">
                <h1 style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Eindejaarsgeschenken 2023</h1>
                <p>Ontdek orginele ideeën voor kerst- en eindejaarsgeschenken. Bekijk onze collectie giveaways en laat je inspireren.</p>
                <button class="button">Bekijk Eindejaarsgeschenken</button>
                <p style="font-weight: bold; text-decoration: underline;">Of Bestel Kerstpakketen</p>
            </div>
            <div class="image" style="margin-top:5%;">
                <img src="../assets/img/christmas23.png" alt="">
            </div>
        </div>
    </div>
</div>
