<div class="banner banner-secondary">
    <div class="background"></div>
    <div class="grid-container">
        <div class="content">
            <p class="flex-container align-middle align-center">
                Wij zijn <img src="../assets/img/svg/logo-joinz-blue.svg" alt="Joinz logo">
            </p>

            <h3>Met onze korte lijntjes krijg jij de snelste service en de beste prijs </h3>
            
            <img src="../assets/img/svg/decorative-triangles.svg" alt="">
        </div>
    </div>
</div>