<header class="header grid-container">
    <div class="grid-x">
        <div class="cell medium-2 small-4 flex-container align-middle">
            {{> logo}}
        </div>
        <div class="cell medium-10 small-8 flex-container align-left medium-align-right flex-dir-row-reverse medium-flex-dir-row">
            {{> search-bar}}

            <div class="user-info flex-container align-middle flex-child-shrink">
                <img src="../assets/img/sara-jone.png" alt="Customer service">
                <div>
                    <a href="tel:033-2464177"><b>033-2464177</b></a>
                    <span>08.00-17.00</span>
                </div>
            </div>

            <ul class="menu">
                <li>
                    <a href="#" class="">
                        <i class="icon-user"></i>
                        <i class="icon-arrow-down"></i>
                    </a>

                    <div class="menu-dropdown">
                        <h6>Mijn Account</h6>

                        <div class="menu-login">
                            <a href="#" class="button button-white mini uppercase">Aanmelden</a>
                            <p>Of, <a href="#">registreren</a></p>
                        </div>

                        <ul class="no-bullet">
                            <li>
                                <a href="#">Overzicht</a>
                            </li>
                            <li>
                                <a href="#">Mijn profiel</a>
                            </li>
                            <li>
                                <a href="#">Mijn adressen</a>
                            </li>
                            <li>
                                <a href="#">Mijn Bestellingen</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-bag"></i>
                    </a>

                    <span class="menu-total-sum">
                        €11.300
                    </span>
                </li>       
            </ul>
        </div>
    </div>
</header>
    