<div class="accordion">
    <div class="accordion-top">
        <p class="flex-container align-justify align-bottom align-middle">
            <span>VANAF <b>5,95</b> P/S</span>
            <span>fastest delivery: 10 July</span>
        </p>
    </div>

    <form>
        <div class="accordion-section">
            <div class="accordion-head active">
                <input id="color" type="checkbox">
                <label for="color">
                    <i class="icon-check-blue"></i>
                    1. Pick Colors
                </label>
                <span></span>
            </div>

            <div class="accordion-body">
                <fieldset class="colors">
                    <input type="radio" name="color" id="color-white" required>
                    <label for="color-white" class="color-white">
                        <i class="icon-check-gray"></i>
                    </label>

                    <input type="radio" name="color" id="color-orange" required>
                    <label for="color-orange" class="color-orange">
                        <i class="icon-check-white"></i>
                    </label>

                    <input type="radio" name="color" id="color-blue">
                    <label for="color-blue" class="color-blue">
                        <i class="icon-check-white"></i>
                    </label>

                    <input type="radio" name="color" id="color-green">
                    <label for="color-green" class="color-green">
                        <i class="icon-check-white"></i>
                    </label>

                    <input type="radio" name="color" id="color-ink">
                    <label for="color-ink" class="color-ink">
                        <i class="icon-check-white"></i>
                    </label>
                </fieldset>

                <fieldset class="details">
                    <input type="radio" name="gb" id="1-gb" required>
                    <label for="1-gb">
                        <span>1 GB</span>
                    </label>

                    <input type="radio" name="gb" id="2-gb">
                    <label for="2-gb">
                        <span>2 GB</span>
                    </label>

                    <input type="radio" name="gb" id="4-gb">
                    <label for="4-gb">
                        <span>4 GB</span>
                    </label>

                    <input type="radio" name="gb" id="8-gb">
                    <label for="8-gb">
                        <span>8 GB</span>
                    </label>

                    <input type="radio" name="gb" id="16-gb">
                    <label for="16-gb">
                        <span>16 GB</span>
                    </label>
                </fieldset>

                <fieldset class="details">
                    <input type="radio" name="size" id="xs-size" required>
                    <label for="xs-size">
                        <span>XS</span>
                    </label>

                    <input type="radio" name="size" id="s-size">
                    <label for="s-size">
                        <span>S</span>
                    </label>

                    <input type="radio" name="size" id="m-size">
                    <label for="m-size">
                        <span>M</span>
                    </label>

                    <input type="radio" name="size" id="l-size">
                    <label for="l-size">
                        <span>L</span>
                    </label>

                    <input type="radio" name="size" id="xl-size">
                    <label for="xl-size">
                        <span>XL</span>
                    </label>
                </fieldset>

                <fieldset class="details">
                    <input type="radio" name="dimentions" id="dimentions-1" required>
                    <label for="dimentions-1">
                        <span>100 x 300 mm</span>
                    </label>

                    <input type="radio" name="dimentions" id="dimentions-2">
                    <label for="dimentions-2">
                        <span>10 x 20 mm</span>
                    </label>

                    <input type="radio" name="dimentions" id="dimentions-3">
                    <label for="dimentions-3">
                        <span>107 x 20 mm</span>
                    </label>

                    <input type="radio" name="dimentions" id="dimentions-4">
                    <label for="dimentions-4">
                        <span>107 x 20 mm</span>
                    </label>

                    <input type="radio" name="dimentions" id="dimentions-5">
                    <label for="dimentions-5">
                        <span>1450 x 2500 mm</span>
                    </label>
                </fieldset>
            </div>
        </div>

        <div class="accordion-section">
            <div class="accordion-head">
                <input id="side" type="checkbox">
                <label for="side">
                    <i class="icon-check-blue"></i>
                    2. With Image but no hex
                </label>
                <span></span>
            </div>

            <div class="accordion-body">
                <fieldset class="details">
                    <input type="radio" name="side" id="side-back" required>
                    <label for="side-back">
                        <img src="../../assets/img/product-sample-small.png" alt="">
                        <span>Blue</span>
                    </label>

                    <input type="radio" name="side" id="side-front">
                    <label for="side-front">
                        <img src="../../assets/img/product-sample-small.png" alt="">
                        <span>Red</span>
                    </label>

                    <input type="radio" name="side" id="side-left">
                    <label for="side-left">
                        <img src="../../assets/img/product-sample-small.png" alt="">
                        <span>Yellow</span>
                    </label>
                </fieldset>
            </div>
        </div>

        <div class="accordion-section">
            <div class="accordion-head">
                <input id="side" type="checkbox">
                <label for="side">
                    <i class="icon-check-blue"></i>
                    3. Print Location
                </label>
                <span></span>
            </div>

            <div class="accordion-body">
                <fieldset class="details">
                    <input type="radio" name="side" id="side-back" required>
                    <label for="side-back">
                        <img src="../../assets/img/product-sample-small.png" alt="">
                        <span>Back</span>
                    </label>

                    <input type="radio" name="side" id="side-front">
                    <label for="side-front">
                        <img src="../../assets/img/product-sample-small.png" alt="">
                        <span>Front</span>
                    </label>

                    <input type="radio" name="side" id="side-left">
                    <label for="side-left">
                        <img src="../../assets/img/product-sample-small.png" alt="">
                        <span>Left</span>
                    </label>

                    <input type="radio" name="side" id="side-right">
                    <label for="side-right">
                        <img src="../../assets/img/product-sample-small.png" alt="">
                        <span>Right</span>
                    </label>
                </fieldset>
            </div>
        </div>

        <div class="accordion-section">
            <div class="accordion-head">
                <input id="palette" type="checkbox">
                <label for="palette">
                    <i class="icon-check-blue"></i>
                    4. No of colors of print
                </label>
                <span></span>
            </div>

            <div class="accordion-body">
                <fieldset class="details palette">
                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="1-color" required>
                        <label for="1-color" class="flex-child-grow">
                            <i class="icon-one-color"></i>
                            <span>1 color</span>
                        </label>
                        <p>30 x 15mm <br> Silk Print</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="2-colors">
                        <label for="2-colors" class="flex-child-grow">
                            <i class="icon-two-colors"></i>
                            <span>2 colors</span>
                        </label>
                        <p>30 x 15mm <br> Digital print</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="3-colors">
                        <label for="3-colors" class="flex-child-grow">
                            <i class="icon-three-colors"></i>
                            <span>3 colors</span>
                        </label>
                        <p>30 x 15mm <br> Silk Print</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="4-colors">
                        <label for="4-colors" class="flex-child-grow">
                            <i class="icon-four-colors"></i>
                            <span>4 colors</span>
                        </label>
                        <p>30 x 15mm <br> Difital Print</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="5-colors" required>
                        <label for="5-colors" class="flex-child-grow">
                            <i class="icon-five-colors"></i>
                            <span>5 colors</span>
                        </label>
                        <p>30 x 15mm <br> Digtal print</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="6-colors">
                        <label for="6-colors" class="flex-child-grow">
                            <i class="icon-six-colors"></i>
                            <span>6 colors</span>
                        </label>
                        <p>30 x 15mm <br> Press Print</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="7-colors">
                        <label for="7-colors" class="flex-child-grow">
                            <i class="icon-seven-colors"></i>
                            <span>7 colors</span>
                        </label>
                        <p>30 x 15mm <br> Press Print</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="8-colors">
                        <label for="8-colors" class="flex-child-grow">
                            <i class="icon-eight-colors"></i>
                            <span>8 colors</span>
                        </label>
                        <p>30 x 15mm <br> Press Print</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="9-colors">
                        <label for="9-colors" class="flex-child-grow">
                            <i class="icon-nine-colors"></i>
                            <span>9 colors</span>
                        </label>
                        <p>30 x 15mm <br> Press Print</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="10-colors">
                        <label for="10-colors" class="flex-child-grow">
                            <i class="icon-ten-colors"></i>
                            <span>10 colors</span>
                        </label>
                        <p>30 x 15mm <br> Press Print</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="stiching">
                        <label for="stiching" class="flex-child-grow">
                            <i class="icon-stiching"></i>
                            <span>Stiching</span>
                        </label>
                        <p>10x10mm <br> Stitching</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="doming">
                        <label for="doming" class="flex-child-grow">
                            <i class="icon-doming"></i>
                            <span>Doming</span>
                        </label>
                        <p>10x10mm <br> Doming</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="blinddruk">
                        <label for="blinddruk" class="flex-child-grow">
                            <i class="icon-blinddruk"></i>
                            <span>Blinddruk</span>
                        </label>
                        <p>10x10mm <br> Blinddruk</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="sticker">
                        <label for="sticker" class="flex-child-grow">
                            <i class="icon-sticker"></i>
                            <span>Sticker</span>
                        </label>
                        <p>10x10mm <br> Sticker</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="default">
                        <label for="default" class="flex-child-grow">
                            <i class="icon-default-color"></i>
                            <span>Default</span>
                        </label>
                        <p>10x10mm <br> Sticker</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="full-color">
                        <label for="full-color" class="flex-child-grow">
                            <i class="icon-full-color"></i>
                            <span>Full color</span>
                        </label>
                        <p>20x20mm <br> Full-color print</p>
                    </div>

                    <div class="flex-container flex-dir-column">
                        <input type="radio" name="palette" id="laser">
                        <label for="laser" class="flex-child-grow">
                            <i class="icon-laser"></i>
                            <span>Laser</span>
                        </label>
                        <p>100x100mm <br> Laser</p>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="accordion-section">
            <div class="accordion-head">
                <input id="quantity" type="checkbox">
                <label for="quantity">
                    <i class="icon-check-blue"></i>
                    5. Choose Quantity
                </label>
                <span></span>
            </div>

            <div class="accordion-body">
                <div class="quantity">
                    <ul>
                        <li>
                            <div class="flex-container align-middle grid-x grid-margin-x">
                                <div class="cell medium-6">
                                    <input type="radio" name="quantity" id="no-discount" required>
                                    <label for="no-discount"></label>
                                </div>
                                <div class="cell large-3 medium-4">
                                    <span>50 pcs</span>
                                </div>
                                <div class="cell large-3 medium-2">
                                    <span><b>$10-</b></span>
                                </div>
                            </div>
                        </li>
    
                        <li>
                            <div class="flex-container align-middle grid-x grid-margin-x">
                                <div class="cell medium-6">
                                    <input type="radio" name="quantity" id="discount-10">
                                    <label for="discount-10"><b>Safe 10%</b></label>
                                </div>
                                <div class="cell large-3 medium-4">
                                    <span>100 pcs</span>
                                </div>
                                <div class="cell large-3 medium-2">
                                    <span><b>$9-</b></span>
                                </div>
                            </div>
                        </li>
    
                        <li>
                            <div class="flex-container align-middle grid-x grid-margin-x">
                                <div class="cell medium-6">
                                    <input type="radio" name="quantity" id="discount-15">
                                    <label for="discount-15"><b>Safe 15%</b></label>
                                </div>
                                <div class="cell large-3 medium-4">
                                    <span>250 pcs</span>
                                </div>
                                <div class="cell large-3 medium-2">
                                    <span><b>$8.5-</b></span>
                                </div>
                            </div>
                        </li>
    
                        <li>
                            <div class="flex-container align-middle grid-x grid-margin-x">
                                <div class="cell medium-6">
                                    <input type="radio" name="quantity" id="discount-20">
                                    <label for="discount-20"><b>Safe 20%</b></label>
                                </div>
                                <div class="cell large-3 medium-4">
                                    <span>500 pcs</span>
                                </div>
                                <div class="cell large-3 medium-2">
                                    <span><b>$8-</b></span>
                                </div>
                            </div>
                        </li>
    
                        <li>
                            <div class="flex-container align-middle grid-x grid-margin-x">
                                <div class="cell medium-6">
                                    <input type="radio" name="quantity" id="discount-25">
                                    <label for="discount-25"><b>Safe 25%</b></label>
                                </div>
                                <div class="cell large-3 medium-4">
                                    <span>1000 pcs</span>
                                </div>
                                <div class="cell large-3 medium-2">
                                    <span><b>$7.5-</b></span>
                                </div>
                            </div>
                        </li>
    
                        <li>
                            <div class="flex-container align-middle grid-x grid-margin-x">
                                <div class="cell medium-6">
                                    <label for="number">Or choose quanity yourself</label>
                                </div>
                                <div class="cell large-3 medium-4">
                                    <input type="number" id="number" name="number" min="1" max="2000" value="0">
                                </div>
                                <div class="cell large-3 medium-2">
                                    <span><b>$0</b></span>
                                </div>
                            </div>
                        </li>
                    </ul>
    
                    <div class="grid-x">
                        <div class="cell large-8 medium-7">
                            <p>
                                All in price per piece <br>
                                Total ( Excl.VAT) <br>
                                Total ( Incl .VAT)
                            </p>
                        </div>
                        <div class="cell large-4 medium-5">
                            <p>
                                €11,- <br>
                                €1100 excl. VAT <br>
                                €1650 incl. VAT
                            </p>
                        </div>
                    </div>
                </div>  
            </div>
        </div>

        <div class="accordion-bottom">
            <button class="button secondary">Add to Cart</button>
            <button class="button button-white">Request quote</button>

            <div class="flex-container align-spaced ">
                <div>
                    <p>Shipment Cost</p>    
                    <span class="product-label primary-color">Free</span>
                </div>
                <div>
                    <p>Expected delivery</p>
                    <span class="product-label primary-color">10th of july</span>
                </div>
            </div>
        </div>
    </form>
</div>