<div class="checkout-list">
    <ul>
        <li>
            <div class="checkout-product flex-container align-middle">
                <div class="image">
                    <img src="../../assets/img/shopping-cart-product.png" alt="Bottle">
                </div>
                <div class="details">
                    <p>
                        <b>Wijnkist tempralino</b> <br>
                        zwart <br>
                        3 Kleuren druk 200 x 500 mm <br>
                        500 stuks <br>
                        €5,96 per stuk
                    </p>
                </div>
            </div>
        </li>
        
        <li>
            <div class="checkout-product flex-container align-middle">
                <div class="image">
                    <img src="../../assets/img/shopping-cart-product.png" alt="Bottle">
                </div>
                <div class="details">
                    <p>
                        <b>Wijnkist tempralino</b> <br>
                        zwart <br>
                        3 Kleuren druk 200 x 500 mm <br>
                        500 stuks <br>
                        €5,96 per stuk
                    </p>
                </div>
            </div>
        </li>

        <li>
            <div class="checkout-product flex-container align-middle">
                <div class="image">
                    <img src="../../assets/img/shopping-cart-product.png" alt="Bottle">
                </div>
                <div class="details">
                    <p>
                        <b>Wijnkist tempralino</b> <br>
                        zwart <br>
                        3 Kleuren druk 200 x 500 mm <br>
                        500 stuks <br>
                        €5,96 per stuk
                    </p>
                </div>
            </div>
        </li>
    </ul>                            
</div>