<div class="customer-service flex-container flex-dir-column align-middle align-justify">
    <div class="background"></div>

    <div class="flex-container flex-dir-column align-middle">
        <img src="../assets/img/team-large.png" alt="Customer service">

        <b>Tom & Bram</b>
    </div>

    <div class="flex-container align-middle flex-dir-column medium-flex-dir-row">
        <div class="contact flex-container align-middle align-justify">
            <i class="icon-phone"></i>
            <div>
                <a href="tel:033-2464177">033-2464177</a>
                <span>08.00-17.00</span>    
            </div>
        </div>
    
        <div class="contact flex-container align-middle align-justify">
            <i class="icon-email"></i>
            <div>
                <a href="mailto:info@joinz.nl">info@joinz.nl</a>
            </div>        
        </div>
    </div>

    <p>Support for help finding products getting a custom design, getting a free quote.</p>
</div>
