<div class="discounts flex-container flex-dir-column">
    <div class="discount discount-personal flex-child-auto flex-container align-middle">
        <div class="background"></div>
        <div class="content">
            <p><img src="../../assets/img/Eindejaars geschenken.png" alt=""></p>
            <button class="button button-red">Ontdek Cadeaus</button>
        </div>
        <div class="image flex-child-grow flex-container align-center">
            <img src="../assets/img/Group 1000001999.png" alt="">
        </div>
    </div>
    <div class="discount discount-bottles flex-child-auto flex-container align-middle">
        <div class="background"></div>
        <div class="content">
            <p><span>Snel</span> je beursmateriaal in huis</p>
            <button class="button">Alles voor de beurs</button>
        </div>
        <div class="image flex-child-grow flex-container align-center">
            <img src="../assets/img/discount2.png" alt="">
        </div>
    </div>
</div>
