<form action="" class="form-find-product">
    <fieldset>
        <input type="radio" name="criteria-first" value="Relatiegeschenk" id="promotional-gift" checked required>

        <label for="promotional-gift">
            <i class="icon-present"></i>
            <span>Relatiegeschenk</span>
        </label>

        <input type="radio" name="criteria-first" value="Promotiemateriaal" id="promotional-material">

        <label for="promotional-material">
            <i class="icon-speaker"></i>
            <span>Promotiemateriaal</span>
        </label>
    </fieldset>

    <fieldset class="hidden">
        <input type="radio" name="criteria-second" value="Lorem ipsum" id="lorem-ipsum" checked required>

        <label for="lorem-ipsum">
            <i class="icon-present"></i>
            <span>Lorem Ipsum</span>
        </label>

        <input type="radio" name="criteria-second" value="Consectetur adipiscing" id="consectetur-adipiscing">

        <label for="consectetur-adipiscing">
            <i class="icon-speaker"></i>
            <span>Consectetur adipiscing</span>
        </label>
    </fieldset>

    <div class="loading-bar">
        <div class="loading-bar-inner loading-50"></div>
    </div>
    
    <button type="submit" class="button">Volgende Stap</button>
</form>