
<form action="" class="form-cart">
    <fieldset>
        <h4 class="flex-container align-middle align-justify normal">
            EVENTUELE (EXTRA) ontwerp instructies
            <span>optioneel</span>
        </h4>

        <div class="grid-x grid-margin-x">
            <div class="cell medium-4">
                <div class="field-group">
                    <div class="fileupload">          
                        <input type="file" name="fileupload" id="fileupload" value="fileupload" id="fileupload" accept="image/*">
                        <label for="fileupload" class="flex-container align-middle">
                            pLAATS JE BESTANDEN HIER (MAX 100mb) 
                        </label>
                        <p class="text-center">PDF/SVG/EPS/AI/PNG/JPG</p>
                    </div>
                </div>
            </div>
            <div class="cell medium-8">
                <div class="field-group">
                    <label for="textfiled">Tekst/opmerking</label>
                    <textarea class="textarea" id="textfield" name="textfield" rows="7" cols="50">optioneel: af te drukken tekst of opmerking over het ontwerp/de bestelling</textarea>
                </div>
            </div>
        </div>

        <div class="flex-container align-right">
            <a href="#" class="button">VERSTUREN</a>
        </div>
    </fieldset>
</form>