<form action="" class="form-cart">
    <fieldset>
        <h4>Afrekenen</h4>

        <div class="grid-x grid-margin-x">
            <div class="cell medium-6">
                <div class="field-group">
                    <input class="form-radio-sm" type="radio" name="payment" value="Achteraf betalen (factuur)" id="payment-1" checked required>

                    <label for="payment-1">
                        <span>Achteraf betalen (factuur)</span>
                    </label>
                </div>
            </div>
            <div class="cell medium-6">
                <div class="field-group">
                    <input class="form-radio-sm" type="radio" name="payment" value="Kies Je bank" id="payment-2">

                    <label for="payment-2">
                        <i class="icon-ideal-bank"></i>
                        <span>Kies Je bank</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="grid-x grid-margin-x">
            <div class="cell medium-6">
                <div class="field-group">
                    <input class="form-radio-sm" type="radio" name="payment" value="bancontact" id="payment-3">

                    <label for="payment-3">
                        <i class="icon-bancontact"></i>
                        <span>bancontact</span>
                    </label>
                </div>
            </div>
            <div class="cell medium-6">
                <div class="field-group">
                    <input class="form-radio-sm" type="radio" name="payment" value="Creditcard" id="payment-4">

                    <label for="payment-4">
                        <i class="icon-creditcard"></i>
                        <span>Creditcard</span>
                    </label>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="label-bottom">
        <a href="#" class="button expanded">BESTELLING  PLAATSEN</a>
        <p class="label label-note label-pointer bottom-right">Je ontvangt binnen 4 uur je ontwerp</p>
    </fieldset>
</form>